<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Thư viện ngoài (Luôn để đầu tiên) -->
    <link rel="stylesheet" href="stylesheet/fontawesome.min.css">
    <link rel="stylesheet" href="stylesheet/all.min.css">
    <link rel="stylesheet" href="libs/mdb-bootstrap-5/css/mdb.min.css">

    <link rel="stylesheet" href="css/main-header.css">
    <link rel="stylesheet" href="css/main-style.css">
    <link rel="stylesheet" href="css/main-footer.css">
    <link rel="stylesheet" href="css/button-title.css">
    <!-- css this page -->
    <link rel="stylesheet" href="css/catagogy/catagogy.css">
    <link rel="stylesheet" href="css/home-featured-products.css">
    <link rel="stylesheet" href="css/product-card.css">
    <link rel="stylesheet" href="css/catagogy/catagogy_detail.css">
    <!-- filter this page -->
    <link rel="stylesheet" href="css/product-filter.css">
    <link rel="stylesheet" href="/template/css/breadcrumbs.css">


    <title>Document</title>
</head>
<body style="background-color: #f7f0e6;">
    <header id="main-header-section">
        <article id="main-header-top">
            <div class="logo-wrapper">
                <img src="icon/logo2.png" alt="">
            </div>
            <div class="main-content-wrapper">
                <ul class="topbar-menu">
                    <li class="topbar-menu-item">
                        <a class="redirect-link" href="home.html">Trang chủ</a>
                    </li>
                    <li class="topbar-menu-item">
                        <a class="redirect-link" href="introduce.html">Giới thiệu</a>
                    </li>
                    <li class="topbar-menu-item">
                        <a class="redirect-link" href="contact.html">Liên hệ</a>
                    </li>
                   
                    <li class="topbar-menu-item">
                        <a class="redirect-link" href="privacy.html">Quy định & chính sách chung</a>
                    </li>
                    <li class="topbar-menu-item">
                        <div class="redirect-link d-flex" >
                            <div class="user-wrap d-flex gap-1 align-items-center">
                                <div class="avatar-wrap border rounded rounded-circle p-2 d-flex align-items-center justify-content-between overflow-hidden">
                                    <img src="/template/icon/mien-phi-van-chuyen.jpg" width="20px" alt="">
                                </div>
                                <div>nqat0919</div>
                                <ul class="user-pages">
                                    <div class="shadow">
                                        <ul>
                                            <li>
                                                <a href="user-profile.html" class="d-flex text-decoration-none align-items-baseline gap-2">
                                                    <i class="fa-solid fa-circle-user"></i>
                                                    <span>Trang cá nhân</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="user-profile-order.html" class="d-flex text-decoration-none align-items-baseline gap-2">
                                                    <i class="fa-solid fa-clipboard-list"></i>
                                                    <span>Đơn mua</span>   
                                                </a> 
                                            </li>
                                            <li>
                                                <a href="login.html" class="d-flex text-decoration-none align-items-baseline gap-2">
                                                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                                                    <span>Đăng xuất</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="search-input">
                    <div class="search-input-wrapper">
                        <input type="text" placeholder="Nhập tên sản phẩm cần tìm...">
                        <a class="btn-search" href="search.html">Tìm kiếm</a>
                    </div>
                    <p>Gợi ý từ khóa: Cao hồng sâm, Sâm tầm mật ong, Trà linh chi,...</p>
                </div>
            </div>
        </article>

        <article id="main-header-bot">
            <nav class="main-nav">
                <div class="all-items menu-wrapper">
                    <span>Tất cả sản phẩm</span>
                    <ul class="menu">
                        <li class="menu-item"><a href="categogy-detail.html">Nước Hồng Sâm Hàn Quốc</a></li>
                        <li class="menu-item"><a href="categogy-detail.html">Cao Hồng Sâm Hàn Quốc</a></li>
                        <li class="menu-item"><a href="categogy-detail.html">Sâm Khô Hàn Quốc</a></li>
                        <li class="menu-item"><a href="categogy-detail.html">Sâm Mật Ong Hàn Quốc</a></li>
                        <li class="menu-item"><a href="categogy-detail.html">Hắc Sâm Hàn Quốc</a></li>
                        <li class="menu-item"><a href="categogy-detail.html">Nhân Sâm Tươi Hàn Quốc</a></li>
                        <li class="menu-item"><a href="categogy-detail.html">Rượu Sâm Linh Chi</a></li>
                        <li class="menu-item"><a href="categogy-detail.html">Trà Hồng Sâm Hàn Quốc Và Bột Sâm</a></li>
                        <li class="menu-item"><a href="categogy-detail.html">Viên Hồng Sâm Hàn Quốc</a></li>
                        <li class="menu-item"><a href="categogy-detail.html">Viên Hồng Sâm Hàn Quốc</a></li>
                    </ul>
                </div>
                <ul class="nav-items-wrapper">
                    <li class="nav-item menu-wrapper"><a href="categogy-detail.html">Nước Hồng Sâm</a></li>
                    <li class="nav-item menu-wrapper"><a href="categogy-detail.html">Cao Hồng Sâm</a></li>
                    <li class="nav-item menu-wrapper"><a href="categogy-detail.html">Sâm Khô</a></li>
                    <li class="nav-item menu-wrapper"><a href="categogy-detail.html">Sâm Mật Ong</a></li>
                    <li class="nav-item menu-wrapper"><a href="categogy-detail.html">Hắc Sâm</a></li>
                    <li class="nav-item menu-wrapper"><a href="categogy-detail.html">Nhân Sâm Tươi</a></li>
                    <li class="nav-item menu-wrapper"><a href="categogy-detail.html">Rượu Sâm Linh Chi</a></li>
                    <li class="nav-item menu-wrapper"><a href="categogy-detail.html">Trà Hồng Sâm</a></li>
                    <li class="nav-item menu-wrapper"><a href="categogy-detail.html">Viên Hồng Sâm</a></li>
                </ul>
            </nav>
        </article>
    </header>
    <!-- Sam han quoc-->
    <!-- breadcrum -->
    <div class="breadcrumbs-wrap">
        <ul class="breadcrumbs">
            <li><a href="/template/home.html">Trang chủ</a></li>
            <li><a href="/template/categogy.html">Hồng sâm Hàn Quốc</a></li>
            <li><a href="/template/categogy-detail.html">Nước Hồng Sâm</a></li>
        </ul>
    </div>
    <!-- content sam han quoc -->
    <div id="product-page">
        <div class="product-categogy-container">
            <div class="row">    
                <!-- bên trái catagogy -->
                <div id="fill-product" class="col-lg-3" >
                    <!-- catagogy -->
                    <section id="section-product-filter">
                        <div class="filter-header bg-rounded bg-gold">
                            <div class="title-primary">Phân loại sản phẩm</div>
                        </div>
                        <div class="filter-content">
                            <form action="">
                                <p class="filter-title">Lọc theo tên</p>
                                <ul class="radio-filter">
                                    <li>
                                        <label for="price_0-1m">Nước Hồng Sâm Hàn Quốc</label>
                                    </li>
                                    <li>
                                        <label for="price_1-2.5m">Cao Hồng Sâm Hàn Quốc</label>
                                    </li>
                                    <li>
                                        <label for="price_2.5m-5m">Sâm Mật Ong Hàn Quốc</label>
                                    </li>
                                    <li>
                                        <label for="price_5m-7.5m">Nhân Sâm Tươi Hàn Quốc</label>
                                    </li>
                                    <li>
                                        <label for="price_7.5m-10m">Trà Hồng Sâm Hàn Quốc</label>
                                    </li>
                                    <li>
                                        <label for="price_7.5m-10m">Kẹo Sâm Hàn Quốc</label>
                                    </li>
                                    <li>
                                        <label for="price_7.5m-10m">Viên Hồng Sâm Hàn Quốc</label>
                                    </li>
                                    <li>
                                        <label for="price_7.5m-10m">Hắc Sâm Hàn Quốc</label>
                                    </li>
                                    <li>
                                        <label for="price_7.5m-10m">Sâm Khô Hàn Quốc</label>
                                    </li>
                                </ul>
                            </form>
                        </div>
                    </section>
                    <!-- Section Product Filter -->
                    <section id="section-product-filter">
                        <div class="filter-header bg-rounded bg-gold">
                            <div class="title-primary">Lọc sản phẩm</div>
                        </div>
                        <div class="filter-content">
                            <form action="">
                                <p class="filter-title">Lọc theo giá</p>
                                <ul class="radio-filter">
                                    <li>
                                        <input type="radio" name="price-from" value="0-1000000" id="price_0-1m">
                                        <label for="price_0-1m">< 1 triệu</label>
                                    </li>
                                    <li>
                                        <input type="radio" name="price-from" value="1000000-2500000" id="price_1-2.5m">
                                        <label for="price_1-2.5m">1 triệu - 2.5 triệu</label>
                                    </li>
                                    <li>
                                        <input type="radio" name="price-from" value="2500000-5000000" id="price_2.5m-5m">
                                        <label for="price_2.5m-5m">2.5 triệu - 5 triệu</label>
                                    </li>
                                    <li>
                                        <input type="radio" name="price-from" value="5000000-7500000" id="price_5m-7.5m">
                                        <label for="price_5m-7.5m">5 triệu - 7.5 triệu</label>
                                    </li>
                                    <li>
                                        <input type="radio" name="price-from" value="7500000-10000000" id="price_7.5m-10m">
                                        <label for="price_7.5m-10m">7.5 triệu - 10 triệu</label>
                                    </li>
                                </ul>
                                <p class="filter-title">Lọc theo thương hiệu</p>
                                <div class="select-brand">
                                    <select name="" id="">
                                        <option value="">Thương hiệu 1</option>
                                        <option value="">Thương hiệu 2</option>
                                        <option value="">Thương hiệu 3</option>
                                        <option value="">Thương hiệu 4</option>
                                        <option value="">Thương hiệu 5</option>
                                    </select>
                                </div>
                                <p class="filter-title">Lọc theo dạng</p>
                                <ul class="checkbox-filter">
                                    <li>
                                        <input type="checkbox" name="type" value="1" id="type-1">
                                        <label for="type-1">Dạng khô</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" name="type" value="2" id="type-2">
                                        <label for="type-2">Dạng cao</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" name="type" value="3" id="type-3">
                                        <label for="type-3">Dạng nước</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" name="type" value="4" id="type-4">
                                        <label for="type-4">Dạng viên</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" name="type" value="5" id="type-5">
                                        <label for="type-5">Dạng bột</label>
                                    </li>
                                </ul>
                                <input type="submit" value="Tìm kiếm sản phẩm">
                            </form>
                        </div>
                    </section>
                </div> <!--NOTEME: chưa thêm bộ lọc-->
                <div class="col-lg-9">
                    <!-- banner -->
                    <div id="banner">
                        <div class="banner-wrapper">
                            <img src="./image/catagogy/test-banner-product-samhanquoc.html.jpg" alt=""> <!---image banner-->
                        </div>
                    </div>
                    <!-- sec sp 1 catagogy nước hồng sâm-->
                    <section id="cat-detail-1">
                        <div class="product-list">
                        <!-- title -->
                        <div class="categogy-title">
                            <div class="row d-flex justify-content-center">
                                <div class="col-12">
                                    <div class="bg-gold bg-sharp">
                                        <div class="cata-header d-flex">
                                            <a href="categogy-detail.html">Nước Hồng Sâm Hàn Quốc </a> <!---NOTE dẩn link đến danh mục sp-->
                                        </div>
                                        
                                    </div>
                                </div>

                            </div>
                            <div class="row justify-content-center"> <!--bọc các product-->
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 row grib-product">
                                    <!--product 1-->
                                    <div class="col-12 col-md-12 col-lg-12 pb-4"> 
                                        <div class="product-show-wrap horizontal">
                                            <a rel="nofollow" href="details_product.html" data-wpel-link="internal"> <!--NOTE chưa thêm link đến chi tiết sản phẩm này-->
                                            <div class="thumbnail">
                                                <img src="./image/catagogy/nuoc-sam-100-anh-dai-dien-1.jpg" alt="Nước Hồng Nhán Sâm Hàn Quốc hộp 30 gói Pocheon">
                                            </div>
                                            </a>
                                            <div class="row product-detail-infor">
                                                <a rel="nofollow" href="details_product.html">
                                                    <h4 class="h3">Nước Hồng Sâm Hàn Quốc hộp 30 gói Pocheon</h4>
                                                </a>
                                                <div class="expect-product">
                                                    <p>Hồng sâm khô hộp thiếc là sản phẩm sâm khô hộp thiếc cao cấp 6 năm tuổi. Sâm củ khô Hàn Quốc được K-GIN nhập khẩu chính hãng, đạt quy chuẩn chất lượng của Bộ Y tế, cam kết chính hãng, chất lượng.</p>
                                                </div>
                                                <div class="production-information w-100 d-flex">
                                                    <div class="specifications pl-0 col-6 col-md-6 col-lg-6">Quy Cách : 1 hộp x 300g</div>
                                                    <div class="origin pl-0 col-6 col-md-6 col-lg-6">Mã sản phẩm : 8809118599084</div>
                                                    
                                                </div>
                                                <div class="col-12 d-flex col-md-12 col-lg-12 pl-2 discount-price">
                                                    <div class="discount-percent d-flex">
                                                        <span>-8</span>
                                                        <span class="symbol">%</span>
                                                    </div>
                                                    <div class="price">
                                                        <del>
                                                            <span class="woocommerce-Price-amount amount price pr-2">3.050.000</span>
                                                            <span class="woocommerce-Price-currencySymbol">đ</span>
                                                        </del>
                                                        <bdi>
                                                            2.800.000
                                                            <span class="woocommerce-Price-currencySymbol">đ</span>
                                                        </bdi>
                                                    </div>
                                                </div>
                                                <div class="row cta m-0 pb-3">
                                                    <div class="col-6 col-md-6 col-lg-6 left">
                                                        <button class="quick-view mb-0 kgin-sharp-5">
                                                            <div class="btn-wrap kgin-sharp-5">
                                                                <i class="fa-regular fa-paper-plane xemicon" ></i>
                                                                <span>Xem nhanh</span>
                                                            </div>
                                                        </button>
                                                    </div>
                                                    <div class="col-6 col-md-6 col-lg-6 right">
                                                        <a rel="nofollow" href="details_product.html" data-wpel-link="internal"><!--NOTE link tới sp chi tiết-->
                                                            <div class="detail-product btn-kgin kgin-sharp-5">
                                                                <div class="btn-wrap kgin-sharp-5">
                                                                    <span>Xem chi tiết</span>
                                                                    <i class="fa-solid fa-angles-right xemicon"></i>
                                                                </div>
                                                            </div>
                                                        </a> 
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                      <!--product 2-->
                                      <div class="col-12 col-md-12 col-lg-12 pb-4"> 
                                        <div class="product-show-wrap horizontal">
                                            <a rel="nofollow" href="details_product.html" data-wpel-link="internal"> <!--NOTE chưa thêm link đến chi tiết sản phẩm này-->
                                            <div class="thumbnail">
                                                <img src="./image/catagogy/nuoc-sam-100-anh-dai-dien-1.jpg" alt="SET 1 - 950K BỘ QUÀ TẶNG TRI ÂN">
                                            </div>
                                            </a>
                                            <div class="row product-detail-infor">
                                                <a rel="nofollow" href="details_product.html">
                                                    <h4 class="h3">SET 1 - 950K BỘ QUÀ TẶNG TRI ÂN</h4>
                                                </a>
                                                <div class="expect-product">
                                                    <p>Bộ Quà Tặng Hồng Sâm Tri Ân không chỉ đơn giản là một món quà, mà còn là lời cảm ơn đích thực đối với những người bạn yêu thương. Khi bạn tặng quà, bạn không chỉ</p>
                                                </div>
                                                <div class="production-information w-100 d-flex">
                                                    <div class="specifications pl-0 col-6 col-md-6 col-lg-6">Quy Cách : 1 hộp x 300g</div>
                                                    <div class="origin pl-0 col-6 col-md-6 col-lg-6">Mã sản phẩm : 8809118599084</div>
                                                    
                                                </div>
                                                <div class="col-12 d-flex col-md-12 col-lg-12 pl-2 discount-price">
                                                    <div class="discount-percent d-flex">
                                                        <span>-8</span>
                                                        <span class="symbol">%</span>
                                                    </div>
                                                    <div class="price">
                                                        <del>
                                                            <span class="woocommerce-Price-amount amount price pr-2">3.050.000</span>
                                                            <span class="woocommerce-Price-currencySymbol">đ</span>
                                                        </del>
                                                        <bdi>
                                                            2.800.000
                                                            <span class="woocommerce-Price-currencySymbol">đ</span>
                                                        </bdi>
                                                    </div>
                                                </div>
                                                <div class="row cta m-0 pb-3">
                                                    <div class="col-6 col-md-6 col-lg-6 left">
                                                        <button class="quick-view mb-0 kgin-sharp-5">
                                                            <div class="btn-wrap kgin-sharp-5">
                                                                <i class="fa-regular fa-paper-plane xemicon" ></i>
                                                                <span>Xem nhanh</span>
                                                            </div>
                                                        </button>
                                                    </div>
                                                    <div class="col-6 col-md-6 col-lg-6 right">
                                                        <a rel="nofollow" href="details_product.html" data-wpel-link="internal"><!--NOTE link tới sp chi tiết-->
                                                            <div class="detail-product btn-kgin kgin-sharp-5">
                                                                <div class="btn-wrap kgin-sharp-5">
                                                                    <span>Xem chi tiết</span>
                                                                    <i class="fa-solid fa-angles-right xemicon"></i>
                                                                </div>
                                                            </div>
                                                        </a> 
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                      <!--product 3-->
                                      <div class="col-12 col-md-12 col-lg-12 pb-4"> 
                                        <div class="product-show-wrap horizontal">
                                            <a rel="nofollow" href="details_product.html" data-wpel-link="internal"> <!--NOTE chưa thêm link đến chi tiết sản phẩm này-->
                                            <div class="thumbnail">
                                                <img src="./image/catagogy/nuoc-sam-100-anh-dai-dien-1.jpg" alt="Nước Hồng Nhán Sâm Hàn Quốc hộp 30 gói Pocheon">
                                            </div>
                                            </a>
                                            <div class="row product-detail-infor">
                                                <a rel="nofollow" href="details_product.html">
                                                    <h4 class="h3">Nước Hồng Sâm Hàn Quốc hộp 30 gói Pocheon</h4>
                                                </a>
                                                <div class="expect-product">
                                                    <p>Hồng sâm khô hộp thiếc là sản phẩm sâm khô hộp thiếc cao cấp 6 năm tuổi. Sâm củ khô Hàn Quốc được K-GIN nhập khẩu chính hãng, đạt quy chuẩn chất lượng của Bộ Y tế, cam kết chính hãng, chất lượng.</p>
                                                </div>
                                                <div class="production-information w-100 d-flex">
                                                    <div class="specifications pl-0 col-6 col-md-6 col-lg-6">Quy Cách : 1 hộp x 300g</div>
                                                    <div class="origin pl-0 col-6 col-md-6 col-lg-6">Mã sản phẩm : 8809118599084</div>
                                                    
                                                </div>
                                                <div class="col-12 d-flex col-md-12 col-lg-12 pl-2 discount-price">
                                                    <div class="discount-percent d-flex">
                                                        <span>-8</span>
                                                        <span class="symbol">%</span>
                                                    </div>
                                                    <div class="price">
                                                        <del>
                                                            <span class="woocommerce-Price-amount amount price pr-2">3.050.000</span>
                                                            <span class="woocommerce-Price-currencySymbol">đ</span>
                                                        </del>
                                                        <bdi>
                                                            2.800.000
                                                            <span class="woocommerce-Price-currencySymbol">đ</span>
                                                        </bdi>
                                                    </div>
                                                </div>
                                                <div class="row cta m-0 pb-3">
                                                    <div class="col-6 col-md-6 col-lg-6 left">
                                                        <button class="quick-view mb-0 kgin-sharp-5">
                                                            <div class="btn-wrap kgin-sharp-5">
                                                                <i class="fa-regular fa-paper-plane xemicon" ></i>
                                                                <span>Xem nhanh</span>
                                                            </div>
                                                        </button>
                                                    </div>
                                                    <div class="col-6 col-md-6 col-lg-6 right">
                                                        <a rel="nofollow" href="details_product.html" data-wpel-link="internal"><!--NOTE link tới sp chi tiết-->
                                                            <div class="detail-product btn-kgin kgin-sharp-5">
                                                                <div class="btn-wrap kgin-sharp-5">
                                                                    <span>Xem chi tiết</span>
                                                                    <i class="fa-solid fa-angles-right xemicon"></i>
                                                                </div>
                                                            </div>
                                                        </a> 
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                   
                                 </div>
                            </div>
                    </div>
                    </section>
                  


                    <!-- catatgogy -description -->
                    <div id="description-product">
                        <div class="description-product-wrapper">
                            <div class="entry-content customer-scollbar">
                                <p>
                                  <em>Cách đây 1000 năm,</em>  
                                  &nbsp;
                                  <a href=""> 
                                    <em> được người Cao Ly chế biến và xem là thảo dược</em>
                                  </a>
                                </p0>
                                <!--NOTE:cần thêm des sp-->
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- sp bán chạy -fearture product -->
        <section id="home-featured-products-section">
            <div class="container">
                <!-- Title -->
                <div class="row gy-md-4 pt-3 featured-row">
                    <div class="col-12 d-flex justify-content-center head-sec">
                        <div class="bg-gold bg-sharp">
                            <div class="title-primary">Sản phẩm bán chạy</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    

       <!-- Footer -->
       <footer id="main-footer-section">
        <div class="footer-guide">
            <div class="guide-title">thông tin liên hệ</div>
            <div class="guide-title">hệ thống cửa hàng</div>
            <div class="guide-title">danh mục sản phẩm</div>

            <div class="guide-content">
                <div class="contact-wrap">
                    <i class="fa-solid fa-phone"></i>
                    <span>Hotline: 1900.1234</span>
                </div>
                <div class="contact-wrap">
                    <i class="fa-regular fa-comment-dots"></i>
                    <span>Zalo, Sms: 0936.565.257</span>
                </div>
                <div class="contact-wrap">
                    <i class="fa-regular fa-envelope"></i>
                    <span>Email: nqat0919@gmail.com</span>
                </div>
                <strong>Mua hàng trực tiếp tại cửa hàng</strong>
                <div class="contact-wrap">
                    <i class="fa-regular fa-clock"></i>
                    <span>Thời gian mở cửa: 8h - 21h</span>
                </div>
                <strong>Phương thức thanh toán</strong>
                <img src="image/payment.webp" alt="" style="width: 100%;">
            </div>
            <div class="guide-content">
                <strong>Tại Hà Nội:</strong>
                <ul class="address-list">
                    <li class="address">Cửa hàng 1: 21 Tây Sơn - Quan Trung- Đống Đa - Hà Nội</li>
                    <li class="address">Cửa hàng 2: 121A Phố Huế - Hai Bà Trưng - Hà Nội (Ngã tư Phố Huế - Tuệ Tĩnh)</li>
                    <li class="address">Cửa hàng 3: 149 Cầu Giấy - Quan Hoa - Cầu Giấy - Hà Nội</li>
                    <li class="address">Cửa hàng 4: 577 Nguyễn Trãi - Thanh Xuân Nam - Thanh Xuân - Hà Nội ( Đối diện Pico Trung Văn)</li>
                </ul>
                <strong>Tại Hồ Chí Minh:</strong>
                <ul class="address-list">
                    <li class="address">Cửa hàng 5: 51 Võ Thị Sáu - Phường VTS - Quận 3 - Thành phố Hồ Chí Minh</li>
                </ul>
            </div>
            <div class="guide-content">
                <div class="portfolio-product">
                    <div class="product-img">
                        <img src="image/nuoc-dong-trung-ha-thao.webp" alt="">
                    </div>
                    <div class="product-name">
                        <a href="#">Nước Đông trùng hạ thảo</a>
                    </div>
                </div>
                <div class="portfolio-product">
                    <div class="product-img">
                        <img src="image/linh-chi-han-quoc.webp" alt="">
                    </div>
                    <div class="product-name">
                        <a href="#">Hồng sâm linh chi Hàn Quốc</a>
                    </div>
                </div>
                <div class="portfolio-product">
                    <div class="product-img">
                        <img src="image/hac-sam-han-quoc.png" alt="">
                    </div>
                    <div class="product-name">
                        <a href="#">Hắc sâm</a>
                    </div>
                </div>
                <div class="portfolio-product">
                    <div class="product-img">
                        <img src="image/linh-chi-hop-go.png" alt="">
                    </div>
                    <div class="product-name">
                        <a href="#">Cao linh chi hộp gỗ</a>
                    </div>
                </div>
                <div class="portfolio-product">
                    <div class="product-img">
                        <img src="image/keo-sam-khong-duong.png" alt="">
                    </div>
                    <div class="product-name">
                        <a href="#">Kẹo sâm không đường</a>
                    </div>
                </div>
                <div class="portfolio-product">
                    <div class="product-img">
                        <img src="image/sam-mat-ong.png" alt="">
                    </div>
                    <div class="product-name">
                        <a href="#">Sâm mật ong Hàn Quốc</a>
                    </div>
                </div>
                <div class="portfolio-product">
                    <div class="product-img">
                        <img src="image/dong-trung-ha-thao-dang-vien.png" alt="">
                    </div>
                    <div class="product-name">
                        <a href="#">Đông trùng hạ thảo dạng viên</a>
                    </div>
                </div>
                <div class="portfolio-product">
                    <div class="product-img">
                        <img src="image/dong-trung-ha-thao.webp" alt="">
                    </div>
                    <div class="product-name">
                        <a href="#">Đông trùng hạ thảo</a>
                    </div>
                </div>
                <div class="portfolio-product">
                    <div class="product-img">
                        <img src="image/sam-nguyen-cu.png" alt="">
                    </div>
                    <div class="product-name">
                        <a href="#">Sâm tẩm mật ong nguyên củ</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-contact">
            <div class="contact-title">
                <ul class="title-list">
                    <li class="title-item">Trang chủ</li>
                    <li class="title-item">Tin tức</li>
                    <li class="title-item">Liên hệ</li>
                </ul>
            </div>

            <div class="contact-title">
                <strong>Mua sắm tiện lợi</strong>
            </div>

            <div class="contact-title">
                <strong>Fanpage Facebook</strong>
            </div>

            <div class="contact-content">
                <div class="contact-info-wrapper">
                    <div class="img-logo">
                        <img src="icon/logo.png" alt="">
                    </div>
                    <div class="contact-info-content">
                        <p class="info-text">sâm hàn quốc Cheong Kwan Jang</p>
                        <div class="contact-wrap">
                            <i class="fa-solid fa-phone"></i>
                            <span>Hotline: 1900.1234</span>
                        </div>
                        <div class="contact-wrap">
                            <i class="fa-regular fa-comment-dots"></i>
                            <span>Zalo, Sms: 0936.565.257</span>
                        </div>
                        <div class="contact-wrap">
                            <i class="fa-regular fa-envelope"></i>
                            <span>Email: nqat0919@gmail.com</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contact-content">
                <div class="intro-wrapper">
                    <div class="intro-col">
                        <div class="contact-wrap">
                            <i class="fas fa-edit" aria-hidden="true"></i>
                            <a href="#">Hướng dẫn mua hàng</a>
                        </div>
                        <div class="contact-wrap">
                            <i class="fas fa-map" aria-hidden="true"></i>
                            <a href="#">Bản đồ đến showroom</a>
                        </div>
                        <div class="contact-wrap">
                            <i class="fab fa-cc-visa" aria-hidden="true"></i>
                            <a href="#">Thông tin tài khoản ngân hàng</a>
                        </div>
                        <div class="contact-wrap">
                            <i class="fas fa-calendar-check" aria-hidden="true"></i>
                            <a href="#">Quy định về việc đổi trả hàng</a>
                        </div>
                    </div>
                    <div class="intro-col">
                        <div class="contact-wrap">
                            <i class="fas fa-money-bill" aria-hidden="true"></i>
                            <a href="#">Thanh toán khi nhận hàng</a>
                        </div>
                        <div class="contact-wrap">
                            <i class="fas fa-truck" aria-hidden="true"></i>
                            <a href="#">Giao hàng toàn quốc</a>
                        </div>
                        <div class="contact-wrap">
                            <i class="fas fa-thumbs-up" aria-hidden="true"></i>
                            <a href="#">Nhân sâm Hàn Quốc uy tín</a>
                        </div>
                        <div class="contact-wrap">
                            <i class="fas fa-check-circle" aria-hidden="true"></i>
                            <a href="#">Dịch vụ CSKH chu đáo</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contact-content">
                <div class="fb-page" 
                    data-href="https://www.facebook.com/kcntt.nlu"
                    data-width="400" 
                    data-hide-cover="false"
                    data-show-facepile="false">
                </div>
            </div>
        </div>
        <div class="copy-right">
            <span>Copyright &copy; 2023 Đồ án lập trình web</span>
        </div>
    </footer>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" 
        src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v18.0" nonce="Qoebijhj">
    </script>
    <script src="js/jquery.js"></script>
    <script src="libs/mdb-bootstrap-5/js/mdb.min.js"></script>
    <script src="js/load_featured_products_home.js"></script>
</body>
</html>
</body>
</html>