<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Thư viện ngoài (Luôn để đầu tiên) -->
    <link rel="stylesheet" href="stylesheet/fontawesome.min.css">
    <link rel="stylesheet" href="libs/swiper/swiper-bundle-min.css"/>

    <!-- Style của project -->
    <link rel="stylesheet" href="stylesheet/all.min.css">
    <link rel="stylesheet" href="css/main-header.css">
    <link rel="stylesheet" href="css/main-style.css">
    <link rel="stylesheet" href="css/main-footer.css">
    <link rel="stylesheet" href="css/home-slider.css">

    <title>Slider</title>
</head>
<body>
    <header id="main-header-section">
        <article id="main-header-top">
            <div class="logo-wrapper">
                <img src="icon/logo2.png" alt="">
            </div>
            <div class="main-content-wrapper">
                <ul class="topbar-menu">
                    <li class="topbar-menu-item">
                        <a class="redirect-link" href="">Trang chủ</a>
                    </li>
                    <li class="topbar-menu-item">
                        <a class="redirect-link" href="">Giới thiệu</a>
                    </li>
                    <li class="topbar-menu-item">
                        <a class="redirect-link" href="">Liên hệ</a>
                    </li>
                    <li class="topbar-menu-item">
                        <a class="redirect-link" href="">Hướng dẫn mua hàng</a>
                    </li>
                    <li class="topbar-menu-item">
                        <a class="redirect-link" href="">Quy định & chính sách chung</a>
                    </li>
                </ul>
                <div class="search-input">
                    <div class="search-input-wrapper">
                        <input type="text" placeholder="Nhập tên sản phẩm cần tìm...">
                        <a class="btn-search" href="">Tìm kiếm</a>
                    </div>
                    <p>Gợi ý từ khóa: Cao hồng sâm, Sâm tầm mật ong, Trà linh chi,...</p>
                </div>
            </div>
        </article>

        <article id="main-header-bot">
            <nav class="main-nav">
                <div class="all-items menu-wrapper">
                    <span>Tất cả sản phẩm</span>
                    <ul class="menu">
                        <li class="menu-item"><a href="#">Nước Hồng Sâm Hàn Quốc</a></li>
                        <li class="menu-item"><a href="#">Cao Hồng Sâm Hàn Quốc</a></li>
                        <li class="menu-item"><a href="#">Sâm Khô Hàn Quốc</a></li>
                        <li class="menu-item"><a href="#">Sâm Mật Ong Hàn Quốc</a></li>
                        <li class="menu-item"><a href="#">Hắc Sâm Hàn Quốc</a></li>
                        <li class="menu-item"><a href="#">Nhân Sâm Tươi Hàn Quốc</a></li>
                        <li class="menu-item"><a href="#">Rượu Sâm Linh Chi</a></li>
                        <li class="menu-item"><a href="#">Trà Hồng Sâm Hàn Quốc Và Bột Sâm</a></li>
                        <li class="menu-item"><a href="#">Viên Hồng Sâm Hàn Quốc</a></li>
                        <li class="menu-item"><a href="#">Viên Hồng Sâm Hàn Quốc</a></li>
                    </ul>
                </div>
                <ul class="nav-items-wrapper">
                    <li class="nav-item menu-wrapper"><a href="#">Nước Hồng Sâm</a></li>
                    <li class="nav-item menu-wrapper"><a href="#">Cao Hồng Sâm</a></li>
                    <li class="nav-item menu-wrapper"><a href="#">Sâm Khô</a></li>
                    <li class="nav-item menu-wrapper"><a href="#">Sâm Mật Ong</a></li>
                    <li class="nav-item menu-wrapper"><a href="#">Hắc Sâm</a></li>
                    <li class="nav-item menu-wrapper"><a href="#">Nhân Sâm Tươi</a></li>
                    <li class="nav-item menu-wrapper"><a href="#">Rượu Sâm Linh Chi</a></li>
                    <li class="nav-item menu-wrapper"><a href="#">Trà Hồng Sâm</a></li>
                    <li class="nav-item menu-wrapper"><a href="#">Viên Hồng Sâm</a></li>
                </ul>
            </nav>
        </article>
    </header>
    <section id="home-slider-section">
        <!-- Slider main container -->
        <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <img src="image/banner-1.jpg" width="100%" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="image/banner-2.png" width="100%" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="image/banner-3.jpg" width="100%" alt="">
                </div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
        </div>
    </section>
    <footer id="main-footer-section">
        <div class="footer-guide">
            <div class="guide-title">thông tin liên hệ</div>
            <div class="guide-title">hệ thống cửa hàng</div>
            <div class="guide-title">danh mục sản phẩm</div>

            <div class="guide-content">
                <div class="contact-wrap">
                    <i class="fa-solid fa-phone"></i>
                    <span>Hotline: 1900.1234</span>
                </div>
                <div class="contact-wrap">
                    <i class="fa-regular fa-comment-dots"></i>
                    <span>Zalo, Sms: 0936.565.257</span>
                </div>
                <div class="contact-wrap">
                    <i class="fa-regular fa-envelope"></i>
                    <span>Email: nqat0919@gmail.com</span>
                </div>
                <strong>Mua hàng trực tiếp tại cửa hàng</strong>
                <div class="contact-wrap">
                    <i class="fa-regular fa-clock"></i>
                    <span>Thời gian mở cửa: 8h - 21h</span>
                </div>
                <strong>Phương thức thanh toán</strong>
                <img src="image/payment.webp" alt="" style="width: 400px;">
            </div>
            <div class="guide-content">
                <strong>Tại Hà Nội:</strong>
                <ul class="address-list">
                    <li class="address">Cửa hàng 1: 21 Tây Sơn - Quan Trung- Đống Đa - Hà Nội</li>
                    <li class="address">Cửa hàng 2: 121A Phố Huế - Hai Bà Trưng - Hà Nội (Ngã tư Phố Huế - Tuệ Tĩnh)</li>
                    <li class="address">Cửa hàng 3: 149 Cầu Giấy - Quan Hoa - Cầu Giấy - Hà Nội</li>
                    <li class="address">Cửa hàng 4: 577 Nguyễn Trãi - Thanh Xuân Nam - Thanh Xuân - Hà Nội ( Đối diện Pico Trung Văn)</li>
                </ul>
                <strong>Tại Hồ Chí Minh:</strong>
                <ul class="address-list">
                    <li class="address">Cửa hàng 5: 51 Võ Thị Sáu - Phường VTS - Quận 3 - Thành phố Hồ Chí Minh</li>
                </ul>
            </div>
            <div class="guide-content">
                <div class="portfolio-product">
                    <div class="product-img">
                        <img src="image/nuoc-hong-sam.png" alt="">
                    </div>
                    <div class="product-name">
                        <a href="#">Nước hồng sâm</a>
                    </div>
                </div>
                <div class="portfolio-product">
                    <div class="product-img">
                        <img src="image/linh-chi-han-quoc.webp" alt="">
                    </div>
                    <div class="product-name">
                        <a href="#">Cao hồng sâm</a>
                    </div>
                </div>
                <div class="portfolio-product">
                    <div class="product-img">
                        <img src="image/sam-kho.png" alt="">
                    </div>
                    <div class="product-name">
                        <a href="#">Sâm khô</a>
                    </div>
                </div>
                <div class="portfolio-product">
                    <div class="product-img">
                        <img src="image/sam-mat-ong.png" alt="">
                    </div>
                    <div class="product-name">
                        <a href="#">Sâm mật ong</a>
                    </div>
                </div>
                <div class="portfolio-product">
                    <div class="product-img">
                        <img src="image/hac-sam-han-quoc.png" alt="">
                    </div>
                    <div class="product-name">
                        <a href="#">Hắc sâm</a>
                    </div>
                </div>
                <div class="portfolio-product">
                    <div class="product-img">
                        <img src="image/sam-tuoi.png" alt="">
                    </div>
                    <div class="product-name">
                        <a href="#">nhân sâm tươi</a>
                    </div>
                </div>
                <div class="portfolio-product">
                    <div class="product-img">
                        <img src="image/ruou-sam.png" alt="">
                    </div>
                    <div class="product-name">
                        <a href="#">Rượu sâm Linh Chi</a>
                    </div>
                </div>
                <div class="portfolio-product">
                    <div class="product-img">
                        <img src="image/tra-sam.webp" alt="">
                    </div>
                    <div class="product-name">
                        <a href="#">Trà hồng sâm</a>
                    </div>
                </div>
                <div class="portfolio-product">
                    <div class="product-img">
                        <img src="image/vien-hong-sam.webp" alt="">
                    </div>
                    <div class="product-name">
                        <a href="#">viên hồng sâm</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-contact">
            <div class="contact-title">
                <ul class="title-list">
                    <li class="title-item">Trang chủ</li>
                    <li class="title-item">Tin tức</li>
                    <li class="title-item">Liên hệ</li>
                </ul>
            </div>

            <div class="contact-title">
                <strong>Mua sắm tiện lợi</strong>
            </div>

            <div class="contact-title">
                <strong>Fanpage Facebook</strong>
            </div>

            <div class="contact-content">
                <div class="contact-info-wrapper">
                    <div class="img-logo">
                        <img src="icon/logo.png" alt="">
                    </div>
                    <div class="contact-info-content">
                        <p class="info-text">sâm hàn quốc Cheong Kwan Jang</p>
                        <div class="contact-wrap">
                            <i class="fa-solid fa-phone"></i>
                            <span>Hotline: 1900.1234</span>
                        </div>
                        <div class="contact-wrap">
                            <i class="fa-regular fa-comment-dots"></i>
                            <span>Zalo, Sms: 0936.565.257</span>
                        </div>
                        <div class="contact-wrap">
                            <i class="fa-regular fa-envelope"></i>
                            <span>Email: nqat0919@gmail.com</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contact-content">
                <div class="intro-wrapper">
                    <div class="intro-col">
                        <div class="contact-wrap">
                            <i class="fas fa-edit" aria-hidden="true"></i>
                            <a href="#">Hướng dẫn mua hàng</a>
                        </div>
                        <div class="contact-wrap">
                            <i class="fas fa-map" aria-hidden="true"></i>
                            <a href="#">Bản đồ đến showroom</a>
                        </div>
                        <div class="contact-wrap">
                            <i class="fab fa-cc-visa" aria-hidden="true"></i>
                            <a href="#">Thông tin tài khoản ngân hàng</a>
                        </div>
                        <div class="contact-wrap">
                            <i class="fas fa-calendar-check" aria-hidden="true"></i>
                            <a href="#">Quy định về việc đổi trả hàng</a>
                        </div>
                    </div>
                    <div class="intro-col">
                        <div class="contact-wrap">
                            <i class="fas fa-money-bill" aria-hidden="true"></i>
                            <a href="#">Thanh toán khi nhận hàng</a>
                        </div>
                        <div class="contact-wrap">
                            <i class="fas fa-truck" aria-hidden="true"></i>
                            <a href="#">Giao hàng toàn quốc</a>
                        </div>
                        <div class="contact-wrap">
                            <i class="fas fa-thumbs-up" aria-hidden="true"></i>
                            <a href="#">Nhân sâm Hàn Quốc uy tín</a>
                        </div>
                        <div class="contact-wrap">
                            <i class="fas fa-check-circle" aria-hidden="true"></i>
                            <a href="#">Dịch vụ CSKH chu đáo</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contact-content">
                <div class="fb-page" 
                    data-href="https://www.facebook.com/kcntt.nlu"
                    data-width="400" 
                    data-hide-cover="false"
                    data-show-facepile="false">
                </div>
            </div>
        </div>
        <div class="copy-right">
            <span>Copyright &copy; 2023 Đồ án lập trình web</span>
        </div>
    </footer>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" 
        src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v18.0" nonce="Qoebijhj">
    </script>
    <script src="js/jquery.js"></script>
    <script src="libs/swiper/swiper-bundle.min.js"></script>
    <script>
        const swiper = new Swiper('.swiper', {
        // Optional parameters
        direction: 'horizontal',
        loop: true,

        // If we need pagination
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
            bulletActiveClass: 'custom-bullet-active',
            bulletClass: 'custom-bullet'
        },

        autoheight: true,
        grabCursor: true,
        });
    </script>
</body>
</html>