<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Thư viện ngoài (Luôn để đầu tiên) -->
    <link rel="stylesheet" href="stylesheet/fontawesome.min.css">
    <link rel="stylesheet" href="libs/mdb-bootstrap-5/css/mdb.min.css">

    <!-- Style của project -->
    <link rel="stylesheet" href="stylesheet/all.min.css">
    <link rel="stylesheet" href="css/main-header.css">
    <link rel="stylesheet" href="css/main-style.css">
    <link rel="stylesheet" href="css/main-footer.css">
    <link rel="stylesheet" href="css/button-title.css">
    <link rel="stylesheet" href="css/product-card.css">
    <link rel="stylesheet" href="css/product-filter.css">
    <link rel="stylesheet" href="css/product-category.css">
    <link rel="stylesheet" href="css/privacy.css">

    <title>Chính sách bảo mật</title>
</head>
<body style="background-color: #f7f0e6;">
<body style="background-color: #f7f0e6;">
<!-- Header -->
<header id="main-header-section">
    <article id="main-header-top">
        <div class="logo-wrapper">
            <img src="icon/logo2.png" alt="">
        </div>
        <div class="main-content-wrapper">
            <ul class="topbar-menu">
                <li class="topbar-menu-item">
                    <a class="redirect-link" href="home.html">Trang chủ</a>
                </li>
                <li class="topbar-menu-item">
                    <a class="redirect-link" href="introduce.html">Giới thiệu</a>
                </li>
                <li class="topbar-menu-item">
                    <a class="redirect-link" href="contact.html">Liên hệ</a>
                </li>
               
                <li class="topbar-menu-item">
                    <a class="redirect-link" href="privacy.html">Quy định & chính sách chung</a>
                </li>
                <li class="topbar-menu-item">
                    <div class="redirect-link d-flex" href="">
                        <div class="user-wrap d-flex gap-1 align-items-center">
                            <div class="avatar-wrap border rounded rounded-circle p-2 d-flex align-items-center justify-content-between overflow-hidden">
                                <img src="/template/icon/mien-phi-van-chuyen.jpg" width="20px" alt="">
                            </div>
                            <div>nqat0919</div>
                            <ul class="user-pages">
                                <div class="shadow">
                                    <ul>
                                        <li>
                                            <a href="user-profile.html" class="d-flex text-decoration-none align-items-baseline gap-2">
                                                <i class="fa-solid fa-circle-user"></i>
                                                <span>Trang cá nhân</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="user-profile-order.html" class="d-flex text-decoration-none align-items-baseline gap-2">
                                                <i class="fa-solid fa-clipboard-list"></i>
                                                <span>Đơn mua</span>   
                                            </a> 
                                        </li>
                                        <li>
                                            <a href="login.html" class="d-flex text-decoration-none align-items-baseline gap-2">
                                                <i class="fa-solid fa-arrow-right-from-bracket"></i>
                                                <span>Đăng xuất</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="search-input">
                <div class="search-input-wrapper">
                    <input type="text" placeholder="Nhập tên sản phẩm cần tìm...">
                    <a class="btn-search" href="">Tìm kiếm</a>
                </div>
                <p>Gợi ý từ khóa: Cao hồng sâm, Sâm tầm mật ong, Trà linh chi,...</p>
            </div>
        </div>
    </article>

    <article id="main-header-bot">
        <nav class="main-nav">
            <div class="all-items menu-wrapper">
                <span>Tất cả sản phẩm</span>
                <ul class="menu">
                    <li class="menu-item"><a href="categogy-detail.html">Nước Hồng Sâm Hàn Quốc</a></li>
                    <li class="menu-item"><a href="categogy-detail.html">Cao Hồng Sâm Hàn Quốc</a></li>
                    <li class="menu-item"><a href="categogy-detail.html">Sâm Khô Hàn Quốc</a></li>
                    <li class="menu-item"><a href="categogy-detail.html">Sâm Mật Ong Hàn Quốc</a></li>
                    <li class="menu-item"><a href="categogy-detail.html">Hắc Sâm Hàn Quốc</a></li>
                    <li class="menu-item"><a href="categogy-detail.html">Nhân Sâm Tươi Hàn Quốc</a></li>
                    <li class="menu-item"><a href="categogy-detail.html">Rượu Sâm Linh Chi</a></li>
                    <li class="menu-item"><a href="categogy-detail.html">Trà Hồng Sâm Hàn Quốc Và Bột Sâm</a></li>
                    <li class="menu-item"><a href="categogy-detail.html">Viên Hồng Sâm Hàn Quốc</a></li>
                    <li class="menu-item"><a href="categogy-detail.html">Viên Hồng Sâm Hàn Quốc</a></li>
                </ul>
            </div>
            <ul class="nav-items-wrapper">
                <li class="nav-item menu-wrapper"><a href="categogy-detail.html">Nước Hồng Sâm</a></li>
                <li class="nav-item menu-wrapper"><a href="categogy-detail.html">Cao Hồng Sâm</a></li>
                <li class="nav-item menu-wrapper"><a href="categogy-detail.html">Sâm Khô</a></li>
                <li class="nav-item menu-wrapper"><a href="categogy-detail.html">Sâm Mật Ong</a></li>
                <li class="nav-item menu-wrapper"><a href="categogy-detail.html">Hắc Sâm</a></li>
                <li class="nav-item menu-wrapper"><a href="categogy-detail.html">Nhân Sâm Tươi</a></li>
                <li class="nav-item menu-wrapper"><a href="categogy-detail.html">Rượu Sâm Linh Chi</a></li>
                <li class="nav-item menu-wrapper"><a href="categogy-detail.html">Trà Hồng Sâm</a></li>
                <li class="nav-item menu-wrapper"><a href="categogy-detail.html">Viên Hồng Sâm</a></li>
            </ul>
        </nav>
    </article>
</header>

<div class="container news">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <section class="section-news">
                <div class="box-news">
                    <h1 class="title">Quy Định Chính Sách Chung</h1>
                    <div class="entry-content">
                        <div id="toc_container" class="no_bullets"><p class="toc_title">Mục lục bài viết</p><ul class="toc_list"><li><a href="#quy_dinh_va_hinh_thuc_thanh_toan" rel="nofollow">QUY ĐỊNH VÀ HÌNH THỨC THANH TOÁN:</a></li><li><a href="#chinh_sach_van_chuyen_giao_nhan" rel="nofollow">CHÍNH SÁCH VẬN CHUYỂN GIAO NHẬN:</a></li><li><a href="#chinh_sach_bao_hanh_doi_tra_va_hoan_tien" rel="nofollow">CHÍNH SÁCH BẢO HÀNH, ĐỔI TRẢ VÀ HOÀN TIỀN:</a></li><li><a href="#chinh_sach_bao_mat" rel="nofollow">CHÍNH SÁCH BẢO MẬT</a></li></ul></div>
                        <h3><span id="quy_dinh_va_hinh_thuc_thanh_toan"><span style="color: #a10618;"><b>QUY ĐỊNH VÀ HÌNH THỨC THANH TOÁN:</b></span></span></h3>
                        <p>Quý khách xem và&nbsp;mua hàng trực tiếp tại các cửa hàng. Quý khách ở xa vui lòng cung cấp đầy đủ thông tin tên, &nbsp;SĐT, địa chỉ, chúng tôi&nbsp;sẽ giao hàng trong vòng 7&nbsp;ngày làm việc ( tùy vùng). Quý khách thanh toán tiền hàng cho nhân viên giao hàng!</p>
                        <h3><span id="chinh_sach_van_chuyen_giao_nhan"><span style="color: #a10618;"><b>CHÍNH SÁCH VẬN CHUYỂN GIAO NHẬN:</b></span></span></h3>
                        <p>Sau khi nhận được đơn hàng của quý khách, chúng tôi sẽ gọi điện để xác nhận và tiến hành giao hàng. Hàng sẽ được gửi chuyển phát nhanh qua bưu điện đến tại địa chỉ khách hàng cung cấp! Chúng tôi sẽ cung cấp mã đơn hàng để quý khách tiện theo dõi đường đi của món hàng.</p>
                        <h3><span id="chinh_sach_bao_hanh_doi_tra_va_hoan_tien"><span style="color: #a10618;"><b>CHÍNH SÁCH BẢO HÀNH, ĐỔI TRẢ VÀ HOÀN TIỀN:</b></span></span></h3>
                        <p>Hàng đã mua không được đổi trả trừ khi xác định lỗi là do nhà sản xuất. Tiền sẽ được hoàn cho quý khách sau khi chúng tôi&nbsp;nhận và kiểm trahàng hóa trả lại.</p>
                        <h3><span id="chinh_sach_bao_mat"><span style="color: #a10618;"><strong>CHÍNH SÁCH BẢO MẬT</strong></span></span></h3>
                        <p>KGIN camkết sẽ bảo mật những thông tin mang tính riêng tư của bạn. Bạn vui lòngđọc bản “Chính sách bảo mật” dưới đây để hiểu hơn những cam kết mà chúng tôi thực hiện, nhằm tôn trọng và bảo vệ quyền lợi của người truy cập:</p>
                        <p><strong>Thu thập thông tin cá nhân&nbsp;</strong></p>
                        <p>Để truy cập và sử dụng một số dịch vụ tại KGIN,bạn có thể sẽ được yêu cầu đăng ký với chúng tôi thông tin cá nhân (Email, Họ tên, Số ĐT liên lạc…). Mọi thông tin khai báo phải đảm bảo tính chính xác và hợp pháp. KGIN không chịu mọi trách nhiệm liênquan đến pháp luật của thông tin khai báo.</p>
                        <p><strong>Sử dụng thông tin cá nhân</strong></p>
                        <p>KGIN thu thập và sử dụng thông tin cá nhân bạn với mục đích phù hợp và hoàn toàn tuân thủ nội dung của “Chính sách bảo mật” này.<br>
                            Khi cần thiết, chúng tôi có thể sử dụng những thông tin này để liên hệ trực tiếp với bạn dưới các hình thức như: gởi thư ngỏ, đơn đặt hàng, thưcảm ơn, thông tin về kỹ thuật và bảo mật…</p>
                        <p><strong>Chia sẻ thông tin cá nhân</strong></p>
                        <p>Ngoại trừ các trường hợp về Sử dụng thông tin cá nhân như đã nêu trong chính sách này, chúng tôi cam kết sẽ không tiết lộ thông tin cá nhân bạn ra ngoài.<br>
                            Trong một số trường hợp, chúng tôi có thể thuê một đơn vị độc lập để tiến hành các dự án nghiên cứu thị trường và khi đó thông tin của bạn sẽđược cung cấp cho đơn vị này để tiến hành dự án. Bên thứ ba này sẽ bị ràng buộc bởi một thỏa thuận về bảo mật mà theo đó họ chỉ được phép sử dụng những thông tin được cung cấp cho mục đích hoàn thành dự án.<br>
                            Chúng tôi có thể tiết lộ hoặc cung cấp thông tin cá nhân của bạn trong các trường hợp thật sự cần thiết như sau: (a) khi có yêu cầu của các cơ quan pháp luật;&nbsp;(b) trong trường hợp mà chúng tôi tin rằng điều đó sẽ giúp chúng tôi bảo vệ quyền lợi chính đáng của mình trước pháp luật; (c)tình huống khẩn cấp và cần thiết để bảo vệ quyền an toàn cá nhân của các thành viên KGIN khác.</p>
                        <p><strong>Truy xuất thông tin cá nhân</strong></p>
                        <p>Bất cứ thời điểm nào bạn cũng có thể truy cập và chỉnh sửa những thông tin cá nhân của mình theo các liên kết(website’s links) thích hợp mà chúng tôi cung cấp.</p>
                        <p><strong>Bảo mật thông tin cá nhân</strong></p>
                        <p>KGIN cam kết bảo mật thông tin cá nhân của bạn bằng mọi cách thức có thể. Chúng tôi sẽ sử dụng nhiều công nghệ bảo mật thông tin khác nhau nhằm bảo vệ thông tin này không bị truy lục, sử dụng hoặc tiết lộ ngoài ý muốn.</p>
                        <p>KGIN&nbsp; khuyến cáo bạn nên bảo mật các thông tin liên quan đến mật khẩu truy xuất của bạn và không nên chia sẻ với bất kỳ người nào khác. Nếu sử dụng máy tính chung nhiều người, bạn nên đăng xuất, hoặc thoát hết tất cả cửa sổ Website đang mở.</p>
                        <p><strong>Sử dụng “Cookie”</strong></p>
                        <p>KGIN dùng “Cookie” để giúp cá nhân hóa và nâng cao tối đa hiệu quả sử dụng thời gian trực tuyến của bạn.</p>
                        <p>Một cookie là một file văn bản được đặt trên đĩa cứng của bạn bởi một máy chủ của trang web. Cookie không được dùng để chạy chương trình hay đưa virus vào máy tính của bạn. Cookie được chỉ định vào máy tính của bạn và chỉ có thể được đọc bởi một máy chủ trang web trên miền được đưa ra cookie cho bạn.</p>
                        <p>Một trong những mục đích của Cookie là cung cấp những tiện ích để tiết kiệm thời gian của bạn khi truy cập tại website hoặc viếng thăm website lần nữa mà không cần đăng ký lại thông tin sẵn có.<br>
                            Bạn có thể chấp nhận hoặc từ chối dùng cookie. Hầu hết những Browser tự động chấp nhận cookie, nhưng bạn có thể thay đổi những cài đặt để từ chối tất cả những cookie nếu bạn thích. Tuy nhiên, nếu bạn chọn từ chối cookie, điều đó có thể gây cản trở và ảnh hưởng không tốt đến một số dịch vụ và tính năng phụ thuộc vào cookie tại website Kgin.com.vn</p>
                        <p><strong>Quy định về “Spam”</strong></p>
                        <p>KGIN thực sự quan ngại đến vấn nạn Spam (thư rác), các Email giả mạo danh tín chúng tôi gởi đi. Do đó,&nbsp;Sâm Hàn Quốc&nbsp;khẳng định chỉ gởi Email đến bạn khi và chỉ khi bạn có đăng ký hoặc sử dụng dịch vụ từ hệ thống của chúng tôi.<br>
                            KGIN cam kết không bán, thuê lại hoặc cho thuê email của bạn từ bên thứ ba. Nếu bạn vô tình nhận được Email không theo yêu cầu từ hệ thống chúng tôi do một nguyên nhân ngoài ý muốn, xin vui lòng nhấn vào link từ chối nhận Email này kèm theo, hoặc thông báo trực tiếp đến ban quản trị Website.</p>
                        <p><strong>Thay đổi về chính sách</strong></p>
                        <p>Nội dung của “Chính sách bảo mật” nàycó thể thay đổi để phù hợp với các nhu cầu của KGIN cũng như nhu cầu và sự phản hồi từ khách hàng nếu có. Khi cập nhật nội dung chínhsách này, chúng tôi sẽ chỉnh sửa lại thời gian “Cập nhật lần cuối” bên trên.<br>
                            Nội dung “Chính sách bảo mật” này chỉ áp dụng tại www.kgin.com.vn, không bao gồm hoặc liên quan đến các bên thứ ba đặt quảng cáo hay có links tại www.Kgin.com.vn. Do đó, chúng tôi đề nghị bạn đọc và tham khảo kỹ nộidung “Chính sách bảo mật” của từng website mà bạn đang truy cập.</p>
                        <p><strong>Thông tin liên hệ</strong></p>
                        <p>Chúng tôi luôn hoan nghênh các ý kiếnđóng góp, liên hệ và phản hồi thông tin từ bạn về “Chính sách bảo mật” này. Nếu bạn có những thắc mắc liên quan xin vui lòng liên hệ theo địa chỉ Email: hongsam.kgin@gmail.com</p>
                    </div>
                </div>
            </section>

            <section id="home-featured-products-section">
                <div class="container">
                    <div class="row gy-md-4 pt-3">
                        <!-- Title -->
                        <div class="col-12 d-flex justify-content-center">
                            <div class="bg-gold bg-sharp">
                                <div class="title-primary">Sản phẩm nổi bật</div>
                            </div>
                        </div>
                        <!-- Col 1 -->
                        <div class="col-md-4">
                            <div class="product-card">
                                <a href="#">
                                    <div class="product-img">
                                        <img src="image/cao-sam-hu-doi-1.jpg" alt="">
                                    </div>

                                    <div class="product-name">
                                        <p>Cao Sâm Hũ Đôi Arirang Hàn Quốc</p>
                                    </div>
                                </a>
                                <div class="product-price-wrapper">
                                    <div class="discount-label">-13</div>
                                    <div class="price">
                                        <p class="m-price">2.400.000</p>
                                        <p class="c-price">2.100.000</p>
                                    </div>
                                </div>
                                <div class="product-button">
                                    <div class="bg-gold bg-sharp-5">
                                        <button class="btn-review">
                                            Xem nhanh
                                        </button>
                                    </div>
                                    <div class="bg-gold bg-sharp-5">
                                        <button class="btn-details">
                                            Xem chi tiết
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Col 2 -->
                        <div class="col-md-4">
                            <div class="product-card">
                                <a href="#">
                                    <div class="product-img">
                                        <img src="image/cao-sam-hu-doi-1.jpg" alt="">
                                    </div>

                                    <div class="product-name">
                                        <p>Cao Sâm Hũ Đôi Arirang Hàn Quốc</p>
                                    </div>
                                </a>
                                <div class="product-price-wrapper">
                                    <div class="discount-label">-13</div>
                                    <div class="price">
                                        <p class="m-price">2.400.000</p>
                                        <p class="c-price">2.100.000</p>
                                    </div>
                                </div>
                                <div class="product-button">
                                    <div class="bg-gold bg-sharp-5">
                                        <button class="btn-review">
                                            Xem nhanh
                                        </button>
                                    </div>
                                    <div class="bg-gold bg-sharp-5">
                                        <button class="btn-details">
                                            Xem chi tiết
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Col 3 -->
                        <div class="col-md-4">
                            <div class="product-card">
                                <a href="#">
                                    <div class="product-img">
                                        <img src="image/cao-sam-hu-doi-1.jpg" alt="">
                                    </div>

                                    <div class="product-name">
                                        <p>Cao Sâm Hũ Đôi Arirang Hàn Quốc</p>
                                    </div>
                                </a>
                                <div class="product-price-wrapper">
                                    <div class="discount-label">-13</div>
                                    <div class="price">
                                        <p class="m-price">2.400.000</p>
                                        <p class="c-price">2.100.000</p>
                                    </div>
                                </div>
                                <div class="product-button">
                                    <div class="bg-gold bg-sharp-5">
                                        <button class="btn-review">
                                            Xem nhanh
                                        </button>
                                    </div>
                                    <div class="bg-gold bg-sharp-5">
                                        <button class="btn-details">
                                            Xem chi tiết
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Col 4 -->
                        <div class="col-md-4">
                            <div class="product-card">
                                <a href="#">
                                    <div class="product-img">
                                        <img src="image/cao-sam-hu-doi-1.jpg" alt="">
                                    </div>

                                    <div class="product-name">
                                        <p>Cao Sâm Hũ Đôi Arirang Hàn Quốc</p>
                                    </div>
                                </a>
                                <div class="product-price-wrapper">
                                    <div class="discount-label">-13</div>
                                    <div class="price">
                                        <p class="m-price">2.400.000</p>
                                        <p class="c-price">2.100.000</p>
                                    </div>
                                </div>
                                <div class="product-button">
                                    <div class="bg-gold bg-sharp-5">
                                        <button class="btn-review">
                                            Xem nhanh
                                        </button>
                                    </div>
                                    <div class="bg-gold bg-sharp-5">
                                        <button class="btn-details">
                                            Xem chi tiết
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Col 5 -->
                        <div class="col-md-4">
                            <div class="product-card">
                                <a href="#">
                                    <div class="product-img">
                                        <img src="image/cao-sam-hu-doi-1.jpg" alt="">
                                    </div>

                                    <div class="product-name">
                                        <p>Cao Sâm Hũ Đôi Arirang Hàn Quốc</p>
                                    </div>
                                </a>
                                <div class="product-price-wrapper">
                                    <div class="discount-label">-13</div>
                                    <div class="price">
                                        <p class="m-price">2.400.000</p>
                                        <p class="c-price">2.100.000</p>
                                    </div>
                                </div>
                                <div class="product-button">
                                    <div class="bg-gold bg-sharp-5">
                                        <button class="btn-review">
                                            Xem nhanh
                                        </button>
                                    </div>
                                    <div class="bg-gold bg-sharp-5">
                                        <button class="btn-details">
                                            Xem chi tiết
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Col 6 -->
                        <div class="col-md-4">
                            <div class="product-card">
                                <a href="#">
                                    <div class="product-img">
                                        <img src="image/cao-sam-hu-doi-1.jpg" alt="">
                                    </div>

                                    <div class="product-name">
                                        <p>Cao Sâm Hũ Đôi Arirang Hàn Quốc</p>
                                    </div>
                                </a>
                                <div class="product-price-wrapper">
                                    <div class="discount-label">-13</div>
                                    <div class="price">
                                        <p class="m-price">2.400.000</p>
                                        <p class="c-price">2.100.000</p>
                                    </div>
                                </div>
                                <div class="product-button">
                                    <div class="bg-gold bg-sharp-5">
                                        <button class="btn-review">
                                            Xem nhanh
                                        </button>
                                    </div>
                                    <div class="bg-gold bg-sharp-5">
                                        <button class="btn-details">
                                            Xem chi tiết
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<!-- Footer -->
<footer id="main-footer-section">
    <div class="footer-guide">
        <div class="guide-title">thông tin liên hệ</div>
        <div class="guide-title">hệ thống cửa hàng</div>
        <div class="guide-title">danh mục sản phẩm</div>

        <div class="guide-content">
            <div class="contact-wrap">
                <i class="fa-solid fa-phone"></i>
                <span>Hotline: 1900.1234</span>
            </div>
            <div class="contact-wrap">
                <i class="fa-regular fa-comment-dots"></i>
                <span>Zalo, Sms: 0936.565.257</span>
            </div>
            <div class="contact-wrap">
                <i class="fa-regular fa-envelope"></i>
                <span>Email: nqat0919@gmail.com</span>
            </div>
            <strong>Mua hàng trực tiếp tại cửa hàng</strong>
            <div class="contact-wrap">
                <i class="fa-regular fa-clock"></i>
                <span>Thời gian mở cửa: 8h - 21h</span>
            </div>
            <strong>Phương thức thanh toán</strong>
            <img src="image/payment.webp" alt="" style="width: 400px;">
        </div>
        <div class="guide-content">
            <strong>Tại Hà Nội:</strong>
            <ul class="address-list">
                <li class="address">Cửa hàng 1: 21 Tây Sơn - Quan Trung- Đống Đa - Hà Nội</li>
                <li class="address">Cửa hàng 2: 121A Phố Huế - Hai Bà Trưng - Hà Nội (Ngã tư Phố Huế - Tuệ Tĩnh)</li>
                <li class="address">Cửa hàng 3: 149 Cầu Giấy - Quan Hoa - Cầu Giấy - Hà Nội</li>
                <li class="address">Cửa hàng 4: 577 Nguyễn Trãi - Thanh Xuân Nam - Thanh Xuân - Hà Nội ( Đối diện Pico Trung Văn)</li>
            </ul>
            <strong>Tại Hồ Chí Minh:</strong>
            <ul class="address-list">
                <li class="address">Cửa hàng 5: 51 Võ Thị Sáu - Phường VTS - Quận 3 - Thành phố Hồ Chí Minh</li>
            </ul>
        </div>
        <div class="guide-content">
            <div class="portfolio-product">
                <div class="product-img">
                    <img src="image/nuoc-hong-sam.png" alt="">
                </div>
                <div class="product-name">
                    <a href="#">Nước hồng sâm</a>
                </div>
            </div>
            <div class="portfolio-product">
                <div class="product-img">
                    <img src="image/linh-chi-han-quoc.webp" alt="">
                </div>
                <div class="product-name">
                    <a href="#">Cao hồng sâm</a>
                </div>
            </div>
            <div class="portfolio-product">
                <div class="product-img">
                    <img src="image/sam-kho.png" alt="">
                </div>
                <div class="product-name">
                    <a href="#">Sâm khô</a>
                </div>
            </div>
            <div class="portfolio-product">
                <div class="product-img">
                    <img src="image/sam-mat-ong.png" alt="">
                </div>
                <div class="product-name">
                    <a href="#">Sâm mật ong</a>
                </div>
            </div>
            <div class="portfolio-product">
                <div class="product-img">
                    <img src="image/hac-sam-han-quoc.png" alt="">
                </div>
                <div class="product-name">
                    <a href="#">Hắc sâm</a>
                </div>
            </div>
            <div class="portfolio-product">
                <div class="product-img">
                    <img src="image/sam-tuoi.png" alt="">
                </div>
                <div class="product-name">
                    <a href="#">nhân sâm tươi</a>
                </div>
            </div>
            <div class="portfolio-product">
                <div class="product-img">
                    <img src="image/ruou-sam.png" alt="">
                </div>
                <div class="product-name">
                    <a href="#">Rượu sâm Linh Chi</a>
                </div>
            </div>
            <div class="portfolio-product">
                <div class="product-img">
                    <img src="image/tra-sam.webp" alt="">
                </div>
                <div class="product-name">
                    <a href="#">Trà hồng sâm</a>
                </div>
            </div>
            <div class="portfolio-product">
                <div class="product-img">
                    <img src="image/vien-hong-sam.webp" alt="">
                </div>
                <div class="product-name">
                    <a href="#">viên hồng sâm</a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-contact">
        <div class="contact-title">
            <ul class="title-list">
                <li class="title-item">Trang chủ</li>
                <li class="title-item">Tin tức</li>
                <li class="title-item">Liên hệ</li>
            </ul>
        </div>

        <div class="contact-title">
            <strong>Mua sắm tiện lợi</strong>
        </div>

        <div class="contact-title">
            <strong>Fanpage Facebook</strong>
        </div>

        <div class="contact-content">
            <div class="contact-info-wrapper">
                <div class="img-logo">
                    <img src="icon/logo.png" alt="">
                </div>
                <div class="contact-info-content">
                    <p class="info-text">sâm hàn quốc Cheong Kwan Jang</p>
                    <div class="contact-wrap">
                        <i class="fa-solid fa-phone"></i>
                        <span>Hotline: 1900.1234</span>
                    </div>
                    <div class="contact-wrap">
                        <i class="fa-regular fa-comment-dots"></i>
                        <span>Zalo, Sms: 0936.565.257</span>
                    </div>
                    <div class="contact-wrap">
                        <i class="fa-regular fa-envelope"></i>
                        <span>Email: nqat0919@gmail.com</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="contact-content">
            <div class="intro-wrapper">
                <div class="intro-col">
                    <div class="contact-wrap">
                        <i class="fas fa-edit" aria-hidden="true"></i>
                        <a href="#">Hướng dẫn mua hàng</a>
                    </div>
                    <div class="contact-wrap">
                        <i class="fas fa-map" aria-hidden="true"></i>
                        <a href="#">Bản đồ đến showroom</a>
                    </div>
                    <div class="contact-wrap">
                        <i class="fab fa-cc-visa" aria-hidden="true"></i>
                        <a href="#">Thông tin tài khoản ngân hàng</a>
                    </div>
                    <div class="contact-wrap">
                        <i class="fas fa-calendar-check" aria-hidden="true"></i>
                        <a href="#">Quy định về việc đổi trả hàng</a>
                    </div>
                </div>
                <div class="intro-col">
                    <div class="contact-wrap">
                        <i class="fas fa-money-bill" aria-hidden="true"></i>
                        <a href="#">Thanh toán khi nhận hàng</a>
                    </div>
                    <div class="contact-wrap">
                        <i class="fas fa-truck" aria-hidden="true"></i>
                        <a href="#">Giao hàng toàn quốc</a>
                    </div>
                    <div class="contact-wrap">
                        <i class="fas fa-thumbs-up" aria-hidden="true"></i>
                        <a href="#">Nhân sâm Hàn Quốc uy tín</a>
                    </div>
                    <div class="contact-wrap">
                        <i class="fas fa-check-circle" aria-hidden="true"></i>
                        <a href="#">Dịch vụ CSKH chu đáo</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="contact-content">
            <div class="fb-page"
                 data-href="https://www.facebook.com/kcntt.nlu"
                 data-width="400"
                 data-hide-cover="false"
                 data-show-facepile="false">
            </div>
        </div>
    </div>
    <div class="copy-right">
        <span>Copyright &copy; 2023 Đồ án lập trình web</span>
    </div>
</footer>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous"
        src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v18.0" nonce="Qoebijhj">
</script>
<script src="js/jquery.js"></script>
<script src="libs/mdb-bootstrap-5/js/mdb.min.js"></script>
</body>
</html>