<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Thư viện ngoài (Luôn để đầu tiên) -->
    <link rel="stylesheet" href="stylesheet/fontawesome.min.css" />
    <link rel="stylesheet" href="libs/mdb-bootstrap-5-pro/css/mdb.min.css" />
    <link rel="stylesheet" href="stylesheet/all.min.css" />

    <!-- Style của project -->
    <link rel="stylesheet" href="stylesheet/all.min.css" />
    <link rel="stylesheet" href="css/main-header.css" />
    <link rel="stylesheet" href="css/main-style.css" />
    <link rel="stylesheet" href="css/main-footer.css" />
    <link rel="stylesheet" href="css/button-title.css" />
    <!-- this page -->
    <link rel="stylesheet" href="css/user-profile/user-profile.css" />
    <link rel="stylesheet" href="css/user-profile/user-profile-order1.css">
    <link rel="stylesheet" href="css/user-profile/user-profile-order-popup.css">
    <link rel="stylesheet" href="/template/libs/DataTables/datatables.min.css">
    <link rel="stylesheet" href="/template/libs/daterangepicker-master/daterangepicker.css">
    <title>Slider</title>
  </head>
  <body>
    <header id="main-header-section">
      <article id="main-header-top">
          <div class="logo-wrapper">
              <img src="icon/logo2.png" alt="">
          </div>
          <div class="main-content-wrapper">
              <ul class="topbar-menu">
                  <li class="topbar-menu-item">
                      <a class="redirect-link" href="home.html">Trang chủ</a>
                  </li>
                  <li class="topbar-menu-item">
                      <a class="redirect-link" href="introduce.html">Giới thiệu</a>
                  </li>
                  <li class="topbar-menu-item">
                      <a class="redirect-link" href="contact.html">Liên hệ</a>
                  </li>
                 
                  <li class="topbar-menu-item">
                      <a class="redirect-link" href="privacy.html">Quy định & chính sách chung</a>
                  </li>
                  <li class="topbar-menu-item">
                      <div class="redirect-link d-flex" href="">
                          <div class="user-wrap d-flex gap-1 align-items-center">
                              <div class="avatar-wrap border rounded rounded-circle p-2 d-flex align-items-center justify-content-between overflow-hidden">
                                  <img src="/template/icon/mien-phi-van-chuyen.jpg" width="20px" alt="">
                              </div>
                              <div>nqat0919</div>
                              <ul class="user-pages">
                                  <div class="shadow">
                                      <ul>
                                          <li>
                                              <a href="user-profile.html" class="d-flex text-decoration-none align-items-baseline gap-2">
                                                  <i class="fa-solid fa-circle-user"></i>
                                                  <span>Trang cá nhân</span>
                                              </a>
                                          </li>
                                          <li>
                                              <a href="user-profile-order.html" class="d-flex text-decoration-none align-items-baseline gap-2">
                                                  <i class="fa-solid fa-clipboard-list"></i>
                                                  <span>Đơn mua</span>   
                                              </a> 
                                          </li>
                                          <li>
                                              <a href="login.html" class="d-flex text-decoration-none align-items-baseline gap-2">
                                                  <i class="fa-solid fa-arrow-right-from-bracket"></i>
                                                  <span>Đăng xuất</span>
                                              </a>
                                          </li>
                                      </ul>
                                  </div>
                              </ul>
                          </div>
                      </div>
                  </li>
              </ul>
              <div class="search-input">
                  <div class="search-input-wrapper">
                      <input type="text" placeholder="Nhập tên sản phẩm cần tìm...">
                      <a class="btn-search" href="">Tìm kiếm</a>
                  </div>
                  <p>Gợi ý từ khóa: Cao hồng sâm, Sâm tầm mật ong, Trà linh chi,...</p>
              </div>
          </div>
      </article>

      <article id="main-header-bot">
          <nav class="main-nav">
              <div class="all-items menu-wrapper">
                  <span>Tất cả sản phẩm</span>
                  <ul class="menu">
                      <li class="menu-item"><a href="categogy-detail.html">Nước Hồng Sâm Hàn Quốc</a></li>
                      <li class="menu-item"><a href="categogy-detail.html">Cao Hồng Sâm Hàn Quốc</a></li>
                      <li class="menu-item"><a href="categogy-detail.html">Sâm Khô Hàn Quốc</a></li>
                      <li class="menu-item"><a href="categogy-detail.html">Sâm Mật Ong Hàn Quốc</a></li>
                      <li class="menu-item"><a href="categogy-detail.html">Hắc Sâm Hàn Quốc</a></li>
                      <li class="menu-item"><a href="categogy-detail.html">Nhân Sâm Tươi Hàn Quốc</a></li>
                      <li class="menu-item"><a href="categogy-detail.html">Rượu Sâm Linh Chi</a></li>
                      <li class="menu-item"><a href="categogy-detail.html">Trà Hồng Sâm Hàn Quốc Và Bột Sâm</a></li>
                      <li class="menu-item"><a href="categogy-detail.html">Viên Hồng Sâm Hàn Quốc</a></li>
                      <li class="menu-item"><a href="categogy-detail.html">Viên Hồng Sâm Hàn Quốc</a></li>
                  </ul>
              </div>
              <ul class="nav-items-wrapper">
                  <li class="nav-item menu-wrapper"><a href="categogy-detail.html">Nước Hồng Sâm</a></li>
                  <li class="nav-item menu-wrapper"><a href="categogy-detail.html">Cao Hồng Sâm</a></li>
                  <li class="nav-item menu-wrapper"><a href="categogy-detail.html">Sâm Khô</a></li>
                  <li class="nav-item menu-wrapper"><a href="categogy-detail.html">Sâm Mật Ong</a></li>
                  <li class="nav-item menu-wrapper"><a href="categogy-detail.html">Hắc Sâm</a></li>
                  <li class="nav-item menu-wrapper"><a href="categogy-detail.html">Nhân Sâm Tươi</a></li>
                  <li class="nav-item menu-wrapper"><a href="categogy-detail.html">Rượu Sâm Linh Chi</a></li>
                  <li class="nav-item menu-wrapper"><a href="categogy-detail.html">Trà Hồng Sâm</a></li>
                  <li class="nav-item menu-wrapper"><a href="categogy-detail.html">Viên Hồng Sâm</a></li>
              </ul>
          </nav>
      </article>
  </header>
    <section id="user-profile">
      <div class="user-profile-container">
        <div class="left-control">
          <div class="user-profile">
            <a class="user-image" href="user-profile.html"></a>
            <!--NOTE : Link tới hồ sơ user-->
            <div class="user-avatar">
              <img
                class="avrtar-img"
                src="./image/user-profile/use-avatar-header-default.jpg"
                alt=""
              />
            </div>
            <div class="user-account-name">
              <div class="account-name">User1</div>
              <div>
                <a class="user-profile-modify" href="user-profile-edit.html">
                  <!--NOTE: thiếu link tới profile của user-->
                  <i class="fa-solid fa-pen"></i>
                  Sửa Hồ Sơ
                </a>
              </div>
            </div>
          </div>
          <div class="left-controller-but">
            <!-- tài khoản cũa tôi -->
            <div class="account-height startdust-dropdown">
                <div class="startdust-dropdown-item-header">
                    <a class="stardust-link" >
                        <img src="./image/user-profile/account.png" alt="">
                        <span>Tài khoản của tôi</span>
                    </a> 
                </div>
                <div class="startdust-dropdown-item-body">
                    <div class="slitter">
                        <a class="body-down" href="user-profile.html">
                            <span>Hồ sơ</span>
                        </a> <!--NOTE : link tới prof-->
                        <a class="body-down" href="user-profile-changePass.html">
                            <span>Đổi mật khẩu</span>
                        </a> 
                        <a class="body-down" href="user-profile-notification-modify.html">
                            <span>Cài đặt thông báo</span>
                        </a> 

                    </div>
                </div>

            </div>
             <!-- Đơn mua -->
             <div class="startdust-dropdown--open">
                <div class="startdust-dropdown-item-header">
                    <a class="stardust-link" href="user-profile-order.html">
                        <img src="./image/user-profile/donmua-icon.png" alt="">
                        <span>Đơn Mua</span>
                    </a> <!--NOTE: link tới profile-->
                </div>
            </div>
             <!-- thông báo-->
             <div class="startdust-dropdown--open">
                <div class="startdust-dropdown-item-header">
                    <a class="stardust-link" href="user-profile-notification.html">
                        <img src="./image/user-profile/thongbao-icon.png" alt="">
                        <span>Thông Báo</span>
                    </a> <!--NOTE: link tới profile-->
                </div>
            </div>
        </div>
        </div>
        <div class="right-content">
          <section id="profile">
            <div class="profile-wrapper">
              <!-- head -->
              <div class="profile-header">
                <h1>Đơn hàng của tôi</h1>
              </div>
              <!-- quan li order -->
              <div>
                <div class="order-control">
                  <div class="container rounded-2 pb-3 shadow">
                      <div class="row">
                          <div class="col-md-12">
                              <form id="table_filters">
                                  <div class="form-outline input-field">
                                      <i class="fa-solid fa-magnifying-glass"></i>
                                      <input type="text" class="form-control" id="filter_input" placeholder="Theo mã đơn hàng, tên khách hàng hoặc tương tự...">
                                  </div>
                                  <div class="form-outline input-field">
                                      <input type="text" class="form-control" id="date_picker" placeholder="Theo ngày tháng" value="">
                                  </div>
                                  <div class="select-field">
                                      <select id="status_filter">
                                          <option value="none" disabled selected>Theo tình trạng</option>
                                          <option value="pending">Đã được giao</option>
                                          <option value="success">Đang giao</option>
                                          <option value="return">Đang trả về</option>
                                          <option value="cancel">Đã bị hủy</option>
                                      </select>
                                      <select id="table_length_filter" class="select">
                                          <option value="10">Hiển thị 10 dòng</option>
                                          <option value="20">Hiển thị 20 dòng</option>
                                          <option value="50">Hiển thị 50 dòng</option>
                                          <option value="100">Hiển thị 100 dòng</option>
                                      </select>
                                  </div>
                                  <div class="submit-field bg-gold rounded align-self-lg-stretch">
                                      <button type="submit" class="d-flex align-items-center">
                                          <div><i class="fa-solid fa-sliders"></i></div>
                                          <span>Tìm kiếm</span>
                                      </button>
                                  </div>
                              </form>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-12">
                              <nav id="table_tabs">
                                  <ul>
                                      <li class="active">
                                          <i class="fa-solid fa-warehouse"></i>
                                          <span>Tất cả đơn</span>
                                      </li>
                                      <li>
                                          <i class="fa-regular fa-circle-check"></i>
                                          <span>Đã được giao</span>
                                      </li>
                                      <li>
                                          <i class="fa-solid fa-truck-fast"></i>
                                          <span>Đang giao</span>
                                      </li>
                                      <li>
                                          <i class="fa-solid fa-right-left"></i>
                                          <span>Đang trả về</span>
                                      </li>
                                      <li>
                                          <i class="fa-regular fa-circle-xmark"></i>
                                          <span>Đã bị hủy</span>
                                      </li>
                                  </ul>
                              </nav>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-12">
                              <table id="table_orders" style="width: 100%">
                                  <thead>
                                      <tr>
                                          <th>Mã đơn hàng</th>
                                          <th>Khách hàng</th>
                                          <th>Tổng thu</th>
                                          <th>SĐT</th>
                                          <th>Email</th>
                                          <th>Tình trạng</th>
                                          <th>Ngày tạo</th>
                                      </tr>
                                  </thead>
                              </table>
                          </div>
                      </div>
                  </div>
              </div>
              </div>
            </div>
          </section>
        </div>
      </div>   
    </section>

 <!-- Modal popup đánh giá sp order -->
 <div class="modal top fade" id="rating-product-order" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-mdb-backdrop="static" data-mdb-keyboard="true">
    <div class="modal-dialog modal-lg ">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Đánh giá sản phẩm</h5>
          <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Đóng"></button>
        </div>
        <div class="modal-body">
          <div class="rating-wrapper">
            <div class="service-rating">
                <div class="label-left">
                    <div>Tư vấn:</div>
                    <div>Chất lượng sản phẩm</div>
                </div>
                <div class="rating-start-right">
                    <div class="service container">
                        <ul class="rating" data-mdb-toggle="rating">
                            <i class="far fa-star fa-sm text-primary"></i>
                            <i class="far fa-star fa-sm text-primary"></i>
                            <i class="far fa-star fa-sm text-primary"></i>
                            <i class="far fa-star fa-sm text-primary"></i>
                            <i class="far fa-star fa-sm text-primary"></i>
                        </ul>
                    </div>
                    <div class="quality container">
                        <ul class="rating" data-mdb-toggle="rating">
                            <i class="far fa-star fa-sm text-primary"></i>
                            <i class="far fa-star fa-sm text-primary"></i>
                            <i class="far fa-star fa-sm text-primary"></i>
                            <i class="far fa-star fa-sm text-primary"></i>
                            <i class="far fa-star fa-sm text-primary"></i>
                        </ul>
                    </div> 
                </div>
            </div>
            <div class="raing-comment">
              <label for="">Đánh giá sản phẩm</label>
              <textarea name="" id="" cols="70" rows="20"></textarea>
            </div>
          </div>  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
            Đóng
          </button>
          <button type="button" class="btn btn-primary">Lưu thay đổi</button>
        </div>
      </div>
    </div>
  </div>
 <!-- Modal popup khiếu nại sp order -->
 <div class="modal top fade" id="complaint-product-order" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-mdb-backdrop="static" data-mdb-keyboard="true">
    <div class="modal-dialog modal-lg ">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Khiếu nại sản phẩm</h5>
          <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <h5 class="complaint-tittle">Thông tin liên hệ</h5>
            
           <div class="complaint-wrapper">
            <div class="complaint-customer-infor">
              <div class="label-left">
                <label for="">Họ tên</label>
                <label for="">Số diện thoại</label>
                <label for="">Email</label>
              </div>
              <div class="in-infor-right">
                <input type="text">
                <input type="text">
                <input type="text">
              </div>
            </div>
             <div class="complaint-comment">
              <label for="">Khiếu nại của khách hàng</label>
              <textarea name="" id="" cols="70" rows="20"></textarea>
            </div>
           </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
            Close
          </button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

    <footer id="main-footer-section">
      <div class="footer-guide">
        <div class="guide-title">thông tin liên hệ</div>
        <div class="guide-title">hệ thống cửa hàng</div>
        <div class="guide-title">danh mục sản phẩm</div>

        <div class="guide-content">
          <div class="contact-wrap">
            <i class="fa-solid fa-phone"></i>
            <span>Hotline: 1900.1234</span>
          </div>
          <div class="contact-wrap">
            <i class="fa-regular fa-comment-dots"></i>
            <span>Zalo, Sms: 0936.565.257</span>
          </div>
          <div class="contact-wrap">
            <i class="fa-regular fa-envelope"></i>
            <span>Email: nqat0919@gmail.com</span>
          </div>
          <strong>Mua hàng trực tiếp tại cửa hàng</strong>
          <div class="contact-wrap">
            <i class="fa-regular fa-clock"></i>
            <span>Thời gian mở cửa: 8h - 21h</span>
          </div>
          <strong>Phương thức thanh toán</strong>
          <img src="image/payment.webp" alt="" style="width: 400px" />
        </div>
        <div class="guide-content">
          <strong>Tại Hà Nội:</strong>
          <ul class="address-list">
            <li class="address">
              Cửa hàng 1: 21 Tây Sơn - Quan Trung- Đống Đa - Hà Nội
            </li>
            <li class="address">
              Cửa hàng 2: 121A Phố Huế - Hai Bà Trưng - Hà Nội (Ngã tư Phố Huế -
              Tuệ Tĩnh)
            </li>
            <li class="address">
              Cửa hàng 3: 149 Cầu Giấy - Quan Hoa - Cầu Giấy - Hà Nội
            </li>
            <li class="address">
              Cửa hàng 4: 577 Nguyễn Trãi - Thanh Xuân Nam - Thanh Xuân - Hà Nội
              ( Đối diện Pico Trung Văn)
            </li>
          </ul>
          <strong>Tại Hồ Chí Minh:</strong>
          <ul class="address-list">
            <li class="address">
              Cửa hàng 5: 51 Võ Thị Sáu - Phường VTS - Quận 3 - Thành phố Hồ Chí
              Minh
            </li>
          </ul>
        </div>
        <div class="guide-content">
          <div class="portfolio-product">
            <div class="product-img">
              <img src="image/nuoc-hong-sam.png" alt="" />
            </div>
            <div class="product-name">
              <a href="#">Nước hồng sâm</a>
            </div>
          </div>
          <div class="portfolio-product">
            <div class="product-img">
              <img src="image/linh-chi-han-quoc.webp" alt="" />
            </div>
            <div class="product-name">
              <a href="#">Cao hồng sâm</a>
            </div>
          </div>
          <div class="portfolio-product">
            <div class="product-img">
              <img src="image/sam-kho.png" alt="" />
            </div>
            <div class="product-name">
              <a href="#">Sâm khô</a>
            </div>
          </div>
          <div class="portfolio-product">
            <div class="product-img">
              <img src="image/sam-mat-ong.png" alt="" />
            </div>
            <div class="product-name">
              <a href="#">Sâm mật ong</a>
            </div>
          </div>
          <div class="portfolio-product">
            <div class="product-img">
              <img src="image/hac-sam-han-quoc.png" alt="" />
            </div>
            <div class="product-name">
              <a href="#">Hắc sâm</a>
            </div>
          </div>
          <div class="portfolio-product">
            <div class="product-img">
              <img src="image/sam-tuoi.png" alt="" />
            </div>
            <div class="product-name">
              <a href="#">nhân sâm tươi</a>
            </div>
          </div>
          <div class="portfolio-product">
            <div class="product-img">
              <img src="image/ruou-sam.png" alt="" />
            </div>
            <div class="product-name">
              <a href="#">Rượu sâm Linh Chi</a>
            </div>
          </div>
          <div class="portfolio-product">
            <div class="product-img">
              <img src="image/tra-sam.webp" alt="" />
            </div>
            <div class="product-name">
              <a href="#">Trà hồng sâm</a>
            </div>
          </div>
          <div class="portfolio-product">
            <div class="product-img">
              <img src="image/vien-hong-sam.webp" alt="" />
            </div>
            <div class="product-name">
              <a href="#">viên hồng sâm</a>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-contact">
        <div class="contact-title">
          <ul class="title-list">
            <li class="title-item">Trang chủ</li>
            <li class="title-item">Tin tức</li>
            <li class="title-item">Liên hệ</li>
          </ul>
        </div>

        <div class="contact-title">
          <strong>Mua sắm tiện lợi</strong>
        </div>

        <div class="contact-title">
          <strong>Fanpage Facebook</strong>
        </div>

        <div class="contact-content">
          <div class="contact-info-wrapper">
            <div class="img-logo">
              <img src="icon/logo.png" alt="" />
            </div>
            <div class="contact-info-content">
              <p class="info-text">sâm hàn quốc Cheong Kwan Jang</p>
              <div class="contact-wrap">
                <i class="fa-solid fa-phone"></i>
                <span>Hotline: 1900.1234</span>
              </div>
              <div class="contact-wrap">
                <i class="fa-regular fa-comment-dots"></i>
                <span>Zalo, Sms: 0936.565.257</span>
              </div>
              <div class="contact-wrap">
                <i class="fa-regular fa-envelope"></i>
                <span>Email: nqat0919@gmail.com</span>
              </div>
            </div>
          </div>
        </div>
        <div class="contact-content">
          <div class="intro-wrapper">
            <div class="intro-col">
              <div class="contact-wrap">
                <i class="fas fa-edit" aria-hidden="true"></i>
                <a href="#">Hướng dẫn mua hàng</a>
              </div>
              <div class="contact-wrap">
                <i class="fas fa-map" aria-hidden="true"></i>
                <a href="#">Bản đồ đến showroom</a>
              </div>
              <div class="contact-wrap">
                <i class="fab fa-cc-visa" aria-hidden="true"></i>
                <a href="#">Thông tin tài khoản ngân hàng</a>
              </div>
              <div class="contact-wrap">
                <i class="fas fa-calendar-check" aria-hidden="true"></i>
                <a href="#">Quy định về việc đổi trả hàng</a>
              </div>
            </div>
            <div class="intro-col">
              <div class="contact-wrap">
                <i class="fas fa-money-bill" aria-hidden="true"></i>
                <a href="#">Thanh toán khi nhận hàng</a>
              </div>
              <div class="contact-wrap">
                <i class="fas fa-truck" aria-hidden="true"></i>
                <a href="#">Giao hàng toàn quốc</a>
              </div>
              <div class="contact-wrap">
                <i class="fas fa-thumbs-up" aria-hidden="true"></i>
                <a href="#">Nhân sâm Hàn Quốc uy tín</a>
              </div>
              <div class="contact-wrap">
                <i class="fas fa-check-circle" aria-hidden="true"></i>
                <a href="#">Dịch vụ CSKH chu đáo</a>
              </div>
            </div>
          </div>
        </div>
        <div class="contact-content">
          <div
            class="fb-page"
            data-href="https://www.facebook.com/kcntt.nlu"
            data-width="400"
            data-hide-cover="false"
            data-show-facepile="false"
          ></div>
        </div>
      </div>
      <div class="copy-right">
        <span>Copyright &copy; 2023 Đồ án lập trình web</span>
      </div>
    </footer>
    <div id="fb-root"></div>
    <script
      async
      defer
      crossorigin="anonymous"
      src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v18.0"
      nonce="Qoebijhj"
    ></script>
    <script src="js/jquery.js"></script>
    <script src="libs/mdb-bootstrap-5-pro/js/mdb.min.js"></script>
    <!-- for this page -->
    <script src="/template/libs/DataTables/datatables.min.js"></script>
    <script src="/template/libs/daterangepicker-master/moment.min.js"></script>
    <script src="/template/libs/daterangepicker-master/daterangepicker.js"></script>
    <script src="js/user-profile/user-profile.js"></script>
    <script src="js/user-profile/user-profile-order.js"></script>
    <script src="js/user-profile/user-profile-order-startRating.js"></script>
  </body>
</html>
