#sidebar-nav .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    background-image: url('../../inventory/images/footer-bg.jpg');
    background-size: cover;
    z-index: 100;
    transition: width 0.3s ease;
    box-shadow: .3rem .5rem 1rem rgba(0,0,0,.3)!important;
}

#sidebar-nav .sidebar.close {
    width: 78px;
}

#sidebar-nav .sidebar .logo-details {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    box-shadow: 0 1px 10px 0 rgb(0 0 0 / 20%);
    border-bottom: 1px solid var(--red-light-color-main);
}

#sidebar-nav .sidebar .logo-details i {
    font-size: 30px;
    color: var(--wheat-color);
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
}

#sidebar-nav .sidebar .logo-details .logo_name {
    font-size: 22px;
    color: var(--wheat-color);
    font-weight: 600;
    text-wrap: nowrap;
    overflow: hidden;
    background: none;
    background-color: transparent;
}

#sidebar-nav .sidebar.close .logo-details .logo_name {
    opacity: 0;
    pointer-events: none;
}

#sidebar-nav .sidebar .nav-links {
    height: 100%;
    padding: 15px 0 150px 0;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#sidebar-nav .sidebar.close .nav-links {
    overflow: visible;
}

#sidebar-nav .sidebar .nav-links::-webkit-scrollbar {
    display: none;
}

#sidebar-nav .sidebar .nav-links li {
    position: relative;
    list-style: none;
}

#sidebar-nav .sidebar .nav-links li.nav-link-page:hover {
    background: rgba(0,0,0,.15);
}

#sidebar-nav .sidebar .nav-links li .icon-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#sidebar-nav .sidebar.close .nav-links li .icon-link {
    display: block
}

#sidebar-nav .sidebar .nav-links li i {
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    color: var(--wheat-color);
    font-size: 20px;
    cursor: pointer;
    display: inline-block;
}

#sidebar-nav .sidebar .nav-links li i.new-info {
    position: relative;
}

#sidebar-nav .sidebar .nav-links li i.new-info span {
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 10px;
    width: 20px;
    height: 20px;
    letter-spacing: 1.5px;
    font-weight: bold;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #37b24d;
    border-radius: 5px;
    color: white;
}


#sidebar-nav .sidebar .nav-links li.showMenu i.arrow {
    transform: rotate(-180deg);
}

#sidebar-nav .sidebar.close .nav-links i.arrow {
    display: none;
}

#sidebar-nav .sidebar .nav-links li a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

#sidebar-nav .sidebar .nav-links li a .link_name {
    font-size: 15px;
    font-weight: 500;
    color: var(--wheat-color);
    white-space: nowrap;
}

#sidebar-nav .sidebar.close .nav-links li a .link_name {
    opacity: 0;
    pointer-events: none;
}

#sidebar-nav .sidebar .nav-links li .sub-menu {
    background: rgba(0,0,0,.15);
    display: block;
    overflow: hidden;
}


#sidebar-nav .sidebar .nav-links li .sub-menu a {
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
}

#sidebar-nav .sidebar .nav-links li .sub-menu:not(.blank) a:not(.link_name)::before {
    font-family: 'Font Awesome 6 Free';
    content: '\f054';
    display: inline-block;
    font-weight: bold;
    font-size: 8px;
    margin-right: 5px;
}

#sidebar-nav .sidebar:not(.close) .nav-links li .sub-menu {
    max-height: 0;
    overflow: hidden;
    transition: all 0.2s;
}

#sidebar-nav .sidebar:not(.close) .nav-links li.showMenu .sub-menu {
    padding: 6px 6px 14px 80px;
    max-height: 700px;
}

#sidebar-nav .sidebar.close .nav-links li .sub-menu {
    background: url('../../inventory/images/footer-bg.jpg');
    display: block;
    overflow: hidden;
    position: relative;
}

#sidebar-nav .sidebar.close .nav-links li .sub-menu li:hover {
    background-color: rgba(0,0,0,.15);
}

#sidebar-nav .sidebar.close .nav-links li .sub-menu::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.15);
}

#sidebar-nav .sidebar .nav-links li .sub-menu a {
    color: var(--wheat-color);
    font-size: 15px;
    padding: 5px 0;
    white-space: nowrap;
    opacity: 0.6;
}

#sidebar-nav .sidebar .nav-links li .sub-menu a:hover {
    opacity: 1;
}

#sidebar-nav .sidebar.close .nav-links li .sub-menu {
    position: absolute;
    left: 100%;
    top: -10px;
    margin-top: 0;
    padding: 0px 0px;
    border-radius: 0 6px 6px 0;
    opacity: 0;
    display: block;
    pointer-events: none;
}

#sidebar-nav .sidebar.close .nav-links li .sub-menu li {
    padding: 5px 20px;
}

#sidebar-nav .sidebar.close .nav-links li:hover .sub-menu {
    top: 0;
    opacity: 1;
    pointer-events: auto;
}

#sidebar-nav .sidebar .nav-links li .sub-menu .link_name {
    display: none;
}

#sidebar-nav .sidebar.close .nav-links li .sub-menu .link_name {
    font-size: 18px;
    opacity: 1;
    display: block;
}

#sidebar-nav .sidebar .nav-links li .sub-menu.blank {
    opacity: 1;
    pointer-events: auto;
    padding: 3px 20px 6px 16px;
    opacity: 0;
    pointer-events: none;
}

#sidebar-nav .sidebar .nav-links li:hover .sub-menu.blank {
    top: 50%;
    transform: translateY(-50%);
}

#sidebar-nav .sidebar .profile-details {
    position: fixed;
    bottom: 0;
    width: 260px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: url('/template/image/footer-bg.jpg');
    padding: 12px 0;
    transition: width 0.3s ease;
    box-shadow: 0 -1px 5px 0 rgb(0 0 0 / 20%);
    border-top: 1px solid var(--red-light-color-main);
}

#sidebar-nav .sidebar.close .profile-details {
    width: 78px;
}

#sidebar-nav .sidebar .profile-details .profile-content {
    display: flex;
    align-items: center;
}

#sidebar-nav .sidebar .profile-details img {
    height: 52px;
    width: 52px;
    object-fit: cover;
    border-radius: 16px;
    margin: 0 14px 0 12px;
    background-color: rgba(0,0,0,.05);
}

#sidebar-nav .sidebar.close .profile-details img {
    padding: 10px;
}

#sidebar-nav .sidebar .profile-details .profile_name,
#sidebar-nav .sidebar .profile-details .greeting {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    white-space: nowrap;
}

#sidebar-nav .sidebar.close .profile-details i,
#sidebar-nav .sidebar.close .profile-details .profile_name,
#sidebar-nav .sidebar.close .profile-details .greeting {
    display: none;
}

#sidebar-nav .sidebar .profile-details .greeting {
    font-size: 12px;
}

#main-content-section {
    position: relative;
    background-color: transparent;
    height: 100%;
    width: calc(100% - 78px);
    padding: 40px 0;
    left: 78px;
}

.main-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#menu-sidebar-toggle {
    color: #11101d;
    font-size: 35px;
    cursor: pointer;
    margin-right: 10px;
    padding: 0 10px
}

#main-header-section {
    padding-left: 200px;
}

#btn-toggle-sidebar {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50px;
    left: 100%;
    background-color: var(--red-dark-color-main);
    color: var(--wheat-color);
    border-radius: 5px;
    margin-left: -15px;
    border: solid 2px var(--wheat-color);
    cursor: pointer;
    box-shadow: .3rem .5rem 1rem rgba(0,0,0,.3)!important;
}