
/*search  */
#user-profile-order-search{
    display: block;
}
.user-profile-order-search-container{
    padding: 12px 0;
    margin: 12px 0;
    display: flex;
    align-items: center;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    color: #212121;
    background: #eaeaea;
    border-radius: 2px;
}
.user-profile-order-search{
    margin: 0 15px;
    stroke: #bbb;
}
.user-profile-order-search-in{
    flex: 1;
    font-size: 14px;
    line-height: 16px;
    border: 0;
    outline: none;
    background-color: inherit;
}
/* order container */
.user-profile-order-container{
    display: block;
    flex-direction: column;
}
/* order item container*/
.user-profile-order-item{
    margin: 12px 0;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    border-radius: 0.125rem;
}
/* section item */
#user-profile-order-item{
    display: block;
}
.order-item{
    display: flex;
    flex-direction: row;
}
.order-item-wrapper{
    display: flex;
    width: 70%;
}
.order-item-infor-left{
    display: flex;
    padding: 0 12px 0 0;
    flex: 1;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-direction: row;
}
.order-item-infor-left img{
    width: 150px;
    height: 150px;
    flex-shrink: 0;
    border: 1px solid #e1e1e1;
    background: #e1e1e1;
}
.order-item-detail{
    min-width: 0;
    padding: 0 0 0 30px;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
}
.order-item-title{
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin: 0 0 5px;
    font-size: 17px;
    line-height: 22px;
    max-height: 48px;
}
.order-item-specification{
    display: flex;
    flex-direction: row;
}
.order-item-specification,.order-item-quantity{
    color: rgba(0,0,0,.54);
}
.order-item-specification span,.order-item-quantity span{
    font-size: 15px;
}
.order-item-infor-right{
    margin-top: 30px;
}

/* function */
.user-profile-order-item-userfunction{
    padding: 0px 0px 0px 0px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    background-color: #f4eede;
    border-top: 1px solid rgb(211, 208, 208);

}
.user-profile-rating-quote{
    /* min-width: 300px;
    max-width: 400px; */
    margin-left: 70px;
    align-items: center;
    text-align: left;
    font-size: 16px;
    line-height: 16px;
    color: rgba(0,0,0,.54);
}
.user-profile-bu-container{
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-items: center;
    justify-content: space-between;
}
.user-profile-bu-container button {
    margin: 0 0 0 10px;
    padding: 8px 45px 8px 45px;
    text-align: center;
    align-items: center;
    border-radius: 10px;
    border: none;
    background-color: #ee4d2d;
    border-color: #cd3011;
    color: white;
}
.user-profile-order-detail{
    display: flex;
    flex-direction: row;
}
.user-profile-order-delivery{
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: #f4eede;
    margin-right: 10px;
    height: fit-content;

}
.user-profile-order-delivery-wrapper{
    display: flex;
    flex-direction: row;
}
.order-delivery-label{
    font-size: 15px;
    padding: 5px 10px 5px 5px;
}
.order-delivery-label span{
    font-weight: 400;
}
.order-delivery-content{
    font-size: 15px;
    padding: 5px 0 5px 0;
}
.order-delivery-content span{
    font-weight: 400;
}
/* total order */
.user-profile-order-bill{
    display: flex;
    background-color: #f4eede;
    width: 50%;
    flex-direction: column;
    height: fit-content;
}
.user-profile-order-bill-wrapper{
    display: flex;
    flex-direction: row;
}
.user-profile-order-bill-wrapper span{
    font-size: 17px;
}
.order-bill-label-left{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 0 5px 10px;
}
.order-bill-content-right{
    color: #ee4d2d;
    padding: 5px 0 5px 10px;
    align-items: center;
}
