/* CSS primary title */
.title-primary {
    font-size: 22px;
    font-family: "Segoe UI";
    font-weight: bold;
    line-height: 25px;
    padding: 10px 20px;
    color: var(--wheat-color);
    background-color: var(--red-color-main);
    text-align: center;
}

.bg-gold {
    --gold-color: linear-gradient(0deg, #c08e28 0%, #f7ec9e 33%, #c08e28 67%, #f7ec9e 100%);
    background: var(--gold-color);
    padding: 2px;
}

.bg-sharp-5,
.bg-sharp-5>* {
    --path: polygon(5px 0%, calc(100% - 5px) 0%, 100% 5px, 100% calc(100% - 5px), 
    calc(100% - 5px) 100%, 5px 100%, 0% calc(100% - 5px), 0% 5px);
    clip-path: var(--path);
    -webkit-clip-path: var(--path);
}

.bg-sharp,
.bg-sharp>* {
    --path: polygon(10px 0%, calc(100% - 10px) 0%, 100% 10px, 100% calc(100% - 10px), 
    calc(100% - 10px) 100%, 10px 100%, 0% calc(100% - 10px), 0% 10px);
    clip-path: var(--path);
    -webkit-clip-path: var(--path);
}

.bg-sharp-no-left,
.bg-sharp-no-left>* {
    --path: polygon(0 0%, calc(100% - 10px) 0%, 100% 10px,
    100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%, 0% calc(100% - 10px), 0% 10px);
    clip-path: var(--path);
    -webkit-clip-path: var(--path);
}

.bg-sharp-no-right,
.bg-sharp-no-right>* {
    --path: polygon(10px 0%, calc(100% - 10px) 0%, 100% 0, 100% calc(100% - 10px), 
    calc(100%) 100%, 10px 100%, 0% calc(100% - 10px), 0% 10px);
    clip-path: var(--path);
    -webkit-clip-path: var(--path);
}

.bg-rounded,
.bg-rounded>* {
    border-radius: 25px;
}

/* custom button */
.btn-details,
.btn-store-cart {
    padding: 3px 10px;
    background-color: #fdf8f2;
    border: 0;
    color: #333333;
    font-size: 15px;
    font-family: 'Segoe UI';
    text-wrap: nowrap;
    font-weight: 500;
}

.btn-details a.move-to-details {
    color: inherit !important;
    font-weight: 500 !important;
}

.btn-store-cart::before {
    content: '\f217';
    font-family: 'Font Awesome 6 Free';
    font-weight: bold;
}

.btn-details:hover,
.btn-store-cart:hover {
    color: var(--red-color-main);
}

.btn-details {
    color: #333333;
    font-weight: 500;
}

.btn-details::after {
    content: '\f101';
    font-family: 'Font Awesome 6 Free';
    font-weight: bold;
}
