#fixed-btns {
    position: fixed;
    right: 20px;
    top: 50%;
    z-index: 10;
}

#fixed-btns .cart-btn {
    width: 50px;
    height: 50px;
    background-color: #eabb20;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    border-radius: 50px;
    color: white;
    outline: solid rgba(235, 188, 33, 0.5) 5px;
    transition: all .2s;
    cursor: pointer;
    position: relative;
}

#fixed-btns .cart-btn:hover {
    outline-width: 10px;
}

#my-cart .modal-header {
    background-color: var(--red-color-main);
    margin-bottom: 2px;
    border: 0;
    color: var(--wheat-color);
}

#my-cart .modal-body {
    background-color: white;
    border: 0;
    margin-bottom: 2px;
}

#my-cart .modal-footer {
    background-color: white;
}
#my-cart .btn-closeModal,
#my-cart .btn-moveTo {
    background-color: var(--red-color-main);
    border: none;
    color: var(--wheat-color);
    padding: 5px 10px;
    font-weight: 500;
}
#my-cart a{
    color: var(--wheat-color);
}
#my-cart .btn-moveTo::before {
    font-family: 'Font Awesome 6 Free';
    content: '\f09d';
    font-weight: bold;
    display: inline-block;
}

#my-cart .btn-product-remove {
    cursor: pointer;
    color: var(--red-color-main);
    font-size: 18px;
    margin-right: auto;
}

#my-cart .cart-products .product-wrap + .product-wrap {
    border-top: 1.5px dashed rgba(0,0,0,0.3);
    margin-top: 10px;
    padding-top: 10px;
}

#my-cart .img-wrap {
    width: 60px;
    height: 60px;
    padding: 5px;
}

#my-cart .product-name {
    text-overflow: ellipsis;
    max-width: 250px;
    text-wrap: nowrap;
    overflow: hidden;
    font-weight: 500;
}

#my-cart .amount-btns {
    display: inline-flex;
    width: 70px;
    margin-left: auto;
}

#my-cart .amount-btns input {
    width: 100%;
    height: 20px;
    line-height: 0;
}

#my-cart .amount-btns .arrow-wrap {
    height: 20px;
}

#my-cart .amount-btns .arrow-wrap:hover {
    background-color: var(--red-dark-color-main) !important;
    cursor: pointer;
}

#my-cart .amount-btns .arrow {
    line-height: 0px;
    width: 20px;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}

#my-cart .amount-btns .arrow::before {
    font-family: 'Font Awesome 6 Free';
    font-weight: bold;
}

#my-cart .amount-btns .arrow-up::before {
    content: '\f0d8';
}

#my-cart .amount-btns .arrow-down::before {
    content: '\f0d7';
}