
    section.header-about .name-wrap {
        justify-content: center;
        align-items: center;
        display: inline-flex;
    }
    section.header-about .name-wrap a {
        height: 151px;
        width: 100%;
        justify-content: center;
        align-items: center;
        display: inline-flex;
    }

    .header-about .menu-name {
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.5;
        text-align: center;
        color: white;
        border-bottom: 3px solid transparent;
    }
    section#album, section#store, section#intro, section#intro-product {
        padding: 70px 0;
        margin: -30px 0;
    }
    section#intro h2 {
        color: rgb(255, 255, 255);
        font-size: 24px;
        font-weight: bold;
    }
    .editor-styles-wrapper, .entry-content {
        counter-reset: footnotes;
    }
    #intro .entry-content .container {
        max-width: 708px;
    }
    section#intro p {
        font-size: 16px;
        color: rgb(255, 255, 255);
        line-height: 1.563;
    }
    section#intro h1 {
        color: #333333;
    }
    section#intro-product p {
        line-height: 1.563;
    }
    .heading .h2, .heading h2 {
        font-size: 24px;
        color: rgb(191, 30, 46);
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1;
        text-align: center;
    }
    .map-wrap .google-maps iframe {
        height: 410px;
        border: 10px solid white;
    }
    .google-maps iframe {
        height: 380px;
        width: 100%;
        border: 0;
    }

    #store .store-about {
        background-color: rgb(255, 252, 245);
        padding: 35px 20px;
    }
    .store-details {
        border-right: 1px solid rgb(231, 220, 204);
    }
    #store .heading-store {
        font-size: 18px;
        font-weight: bold;
    }
    #store .col-lg-6:last-child .heading-store {
        padding: 0 5px;
    }
    .pr-2, .px-2 {
        padding-right: 0.5rem!important;
    }
    #album .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .heading .h2, .heading h2 {
        font-size: 24px;
        color: rgb(191, 30, 46);
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1;
        text-align: center;
    }
    #album .thumbnail {
        /* width: 277px; */
        height: 186px;
    }

    .thumbnail {
        width: 100%;
        height: 285px;
        overflow: hidden;
    }

    .menu-name:hover {
        color: #ff9900;
        border-bottom-color: #ff9900;
    }
    .thumbnail img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 0.3s ease-in-out;
    }

    .thumbnail img:hover {
        transform: scale(1.1);
    }
    #album .name-album {
        font-size: 16px;
        font-weight: bold;
        line-height: 1.5;
        text-align: center;
    }
    .album-item a {
        color: #bf1e2e;
    }
    .album-item a:hover{
        color:#ff9900;
    }