<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Thư viện ngoài (Luôn để đầu tiên) -->
    <link rel="stylesheet" href="/template/stylesheet/fontawesome.min.css">
    <link rel="stylesheet" href="/template/stylesheet/all.min.css">
    <link rel="stylesheet" href="/template/libs/mdb-bootstrap-5-pro/css/mdb.min.css">
    <link rel="stylesheet" href="/template/libs/image-uploader/image-uploader.css">
    <link rel="stylesheet" href="/template/libs/daterangepicker-master/daterangepicker.css">
    <link rel="stylesheet" href="/template/libs/suneditor-master/dist/css/suneditor.min.css">


    <link rel="stylesheet" href="/template/css/main-style.css">
    <link rel="stylesheet" href="/template/css/admin/sidebar.css">
    <link rel="stylesheet" href="/template/css/main-header.css">
    <link rel="stylesheet" href="/template/css/admin/admin-categories-edit.css">
    <title>Quản lí sản phẩm</title>
    <style>
        #input-images .iui-cloud-upload {
            font-family: 'Font Awesome 6 Free' !important;
            font-size: 60px;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #dce5f1;
        }

        #input-images .iui-cloud-upload::before {
            content: '\f302';
        }

        #input-images .upload-text span {
            display: none;
        }

        #input-images {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        #input-images .image-uploader {
            width: 150px;
            height: 150px;
            border: none;
            box-shadow: 0 0.5rem 1.5rem 0.5rem rgba(0, 0, 0, 0.075);
            border-radius: 10px;
            overflow: hidden;
            margin: 10px;
        }

        #input-images .uploaded {
            display: flex;
            padding: 0;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 100%;
            padding: 10px;
        }

        #input-images .uploaded .uploaded-image {
            width: 100%;
            height: 100%;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;
            background: none;
            margin: 0;
        }

        #input-images .uploaded .uploaded-image img {
            object-fit: cover;
            display: inline-block;
            position: static;
        }
    </style>
</head>

<body>
    <nav id="sidebar-nav" class="close">
        <div class="sidebar close">
            <div class="logo-details">
                <i class="fa-brands fa-shopify"></i>
                <span class="logo_name">Thanh quản lý</span>
            </div>
            <ul class="nav-links">
                <li class="nav-link-page">
                    <a href="/template/admin/dashboard.html">
                        <i class="fa-solid fa-table-cells-large"></i>
                        <span class="link_name">Điều khiển</span>
                    </a>
                    <ul class="sub-menu">
                        <li><a class="link_name" href="/template/admin/dashboard.html">Điều khiển</a></li>
                    </ul>
                </li>
                <li class="nav-link-page">
                    <div class="icon-link">
                        <a href="/template/admin/categories.html">
                            <i class="fa-solid fa-layer-group"></i>
                            <span class="link_name">Danh mục</span>
                        </a>
                        <i class="fa-solid fa-angle-down arrow"></i>
                    </div>
                    <ul class="sub-menu">
                        <li><a class="link_name" href="/template/admin/categories.html">Danh mục</a></li>
                        <li><a href="/template/admin/categories_edit.html">Thêm danh mục</a></li>
                    </ul>
                </li>
                <li class="nav-link-page">
                    <div class="icon-link">
                        <a href="/template/admin/products.html">
                            <i class="fa-solid fa-box"></i>
                            <span class="link_name">Sản phẩm</span>
                        </a>
                        <i class="fa-solid fa-angle-down arrow"></i>
                    </div>
                    <ul class="sub-menu">
                        <li><a class="link_name" href="/template/admin/products.html">Sản phẩm</a></li>
                        <li><a href="/template/admin/products_edit.html">Thêm sản phẩm</a></li>
                    </ul>
                </li>
                <li class="nav-link-page">
                    <div class="icon-link">
                        <a href="/template/admin/discounts.html">
                            <i class="fa-solid fa-tags"></i>
                            <span class="link_name">Khuyến mãi</span>
                        </a>
                        <i class="fa-solid fa-angle-down arrow"></i>
                    </div>
                    <ul class="sub-menu">
                        <li><a class="link_name" href="/template/admin/discounts.html">Khuyến mãi</a></li>
                        <li><a href="/template/admin/discounts.html">Thêm khuyến mãi</a></li>
                    </ul>
                </li>
                <li class="nav-link-page">
                    <div class="icon-link">
                        <a href="/template/admin/customers.html">
                            <i class="fa-solid fa-user-group"></i>
                            <span class="link_name">Khách hàng</span>
                        </a>
                        <i class="fa-solid fa-angle-down arrow"></i>
                    </div>
                    <ul class="sub-menu">
                        <li><a class="link_name" href="/template/admin/customers.html">Khách hàng</a></li>
                        <li><a href="/template/admin/customers_edit.html">Thêm khách hàng</a></li>
                    </ul>
                </li>
                <li class="nav-link-page">
                    <div class="icon-link">
                        <a href="/template/admin/producers.html">
                            <i class="fa-solid fa-warehouse"></i>
                            <span class="link_name">Nhà cung cấp</span>
                        </a>
                        <i class="fa-solid fa-angle-down arrow"></i>
                    </div>
                    <ul class="sub-menu">
                        <li><a class="link_name" href="/template/admin/producers.html">Nhà cung cấp</a></li>
                        <li><a href="/template/admin/producers_edit.html">Thêm nhà cung cấp</a></li>
                    </ul>
                </li>
                <li class="nav-link-page">
                    <div class="icon-link">
                        <a href="/template/admin/blogs.html">
                            <i class="fa-solid fa-book"></i>
                            <span class="link_name">Bài viết</span>
                        </a>
                        <i class="fa-solid fa-angle-down arrow"></i>
                    </div>
                    <ul class="sub-menu">
                        <li><a class="link_name" href="/template/admin/blogs.html">Bài viết</a></li>
                        <li><a href="/template/admin/blog-edit.html">Thêm bài viết</a></li>
                    </ul>
                </li>
                <li class="nav-link-page">
                    <div class="icon-link">
                        <a href="/template/admin/customers.html">
                            <i class="fa-solid fa-user-group"></i>
                            <span class="link_name">Khách hàng</span>
                        </a>
                        <i class="fa-solid fa-angle-down arrow"></i>
                    </div>
                    <ul class="sub-menu">
                        <li><a class="link_name" href="/template/admin/customers.html">Khách hàng</a></li>
                        <li><a href="/template/admin/customers_edit.html">Thêm khách hàng</a></li>
                    </ul>
                </li>
                <li class="nav-link-page">
                    <a href="/template/admin/contacts.html">
                        <i class="fa-solid fa-headset new-info">
                            <span>1</span>
                        </i>
                        <span class="link_name">Liên hệ</span>
                    </a>
                    <ul class="sub-menu">
                        <li><a class="link_name" href="/template/admin/contacts.html">Liên hệ</a></li>
                    </ul>
                </li>
                <!-- <li class="nav-link-page">
                    <a href="#">
                        <i class="fa-solid fa-bell"></i>
                        <span class="link_name">Thông báo</span>
                    </a>
                    <ul class="sub-menu">
                        <li><a class="link_name" href="#">Thông báo</a></li>
                    </ul>
                </li> -->
                <li class="nav-link-page">
                    <div class="profile-details">
                        <div class="profile-content">
                            <img src="/template/icon/ship-toan-quoc.jpg" alt="profileImg">
                        </div>
                        <div class="name-job">
                            <div class="greeting">Xin chào Admin</div>
                            <div class="profile_name">Nguyễn Tuấn</div>
                        </div>
                        <i class='bx bx-log-out'></i>
                    </div>
                </li>
            </ul>
            <div id="btn-toggle-sidebar">
                <i class="fa-solid fa-angles-right"></i>
            </div>
        </div>
    </nav>
    <header id="main-header-section">
        <article id="main-header-top">
            <div class="logo-wrapper">
                <img src="/template/icon/logo2.png" alt="">
            </div>
            <div class="main-content-wrapper">
                <ul class="topbar-menu">
                    <li class="topbar-menu-item">
                        <a class="redirect-link" href="/template/home.html">Trang chủ</a>
                    </li>
                    <li class="topbar-menu-item">
                        <a class="redirect-link" href="/template/introduce.html">Giới thiệu</a>
                    </li>
                    <li class="topbar-menu-item">
                        <a class="redirect-link" href="/template/contact.html">Liên hệ</a>
                    </li>
                   
                    <li class="topbar-menu-item">
                        <a class="redirect-link" href="/template/privacy.html">Quy định & chính sách chung</a>
                    </li>
                    <li class="topbar-menu-item">
                        <div class="redirect-link d-flex" href="">
                            <div class="user-wrap d-flex gap-1 align-items-center">
                                <div class="avatar-wrap border rounded rounded-circle p-2 d-flex align-items-center justify-content-between overflow-hidden">
                                    <img src="/template/icon/mien-phi-van-chuyen.jpg" width="20px" alt="">
                                </div>
                                <div>nqat0919</div>
                                <ul class="user-pages">
                                    <div class="shadow">
                                        <ul>
                                            <li>
                                                <a href="/template/user-profile.html" class="d-flex text-decoration-none align-items-baseline gap-2">
                                                    <i class="fa-solid fa-circle-user"></i>
                                                    <span>Trang cá nhân</span>
                                                </a>
                                            </li>
                                            <li>
                                                  <a href="/template/user-profile-order.html" class="d-flex text-decoration-none align-items-baseline gap-2">
                                                    <i class="fa-solid fa-clipboard-list"></i>
                                                    <span>Đơn mua</span>   
                                                </a> 
                                            </li>
                                            <li>
                                                <a href="/template/login.html" class="d-flex text-decoration-none align-items-baseline gap-2">
                                                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                                                    <span>Đăng xuất</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="search-input">
                    <div class="search-input-wrapper">
                        <input type="text" placeholder="Nhập tên sản phẩm cần tìm...">
                        <a class="btn-search" href="/template/search.html">Tìm kiếm</a>
                    </div>
                    <p>Gợi ý từ khóa: Cao hồng sâm, Sâm tầm mật ong, Trà linh chi,...</p>
                </div>
            </div>
        </article>
    </header>
    <section id="main-content-section">
        <div class="main-content">
            <form id="categories-form">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="left-container d-flex flex-column gap-4">
                                <div class="thumbnail-wrap bg-white rounded">
                                    <h4>Ảnh danh mục</h4>
                                    <div id="input-images"></div>
                                    <div class="fw-light text-center text-secondary upload-text">
                                        Set the category thumbnail image. Only *.png, *.jpg and *.jpeg image files are accepted
                                    </div>
                                </div>
                                <div class="bg-white rounded p-3 d-flex flex-column gap-4">
                                    <div class="d-flex flex-column">
                                        <h4>Ngày tạo danh mục</h4>
                                        <div class="form-outline">
                                            <input type="text" class="form-control" placeholder="Ngày tạo" id="txt_date">
                                        </div>
                                    </div>
                                    <div class="d-flex flex-column">
                                        <h4>Tình trạng</h4>
                                        <select class="select">
                                            <option value="active">Hoạt động</option>
                                            <option value="deactive">Tạm dừng</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="right-container bg-white rounded p-4">
                                <h4>Thông tin danh mục</h4>
                                <div class="content-wrap d-flex flex-column gap-4">
                                    <div class="d-flex flex-column gap-1">
                                        <div class="d-block fw-semibold">Mã danh mục</div>
                                        <h4>#HSHQ1230</h4>
                                    </div>

                                    <div class="d-flex flex-column gap-1">
                                        <div class="d-block fw-semibold">Tên danh mục</div>
                                        <div class="form-outline">
                                            <input type="text" class="form-control" placeholder="Tên danh mục" id="txt_name">
                                        </div>
                                    </div>
                                    
                                    <div class="d-flex flex-column gap-1">
                                        <div class="d-block fw-semibold">Bài viết mô tả</div>
                                        <textarea id="blog_desc"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="actions-field">
                                <button class="cancel-btn">Làm mới</button>
                                <button class="update-btn">Cập nhật thông tin</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>  
    <script src="/template/js/jquery.js"></script>
    <script src="/template/libs/mdb-bootstrap-5-pro/js/mdb.min.js"></script>
    <script src="/template/js/admin/sidebar.js"></script>
    <script src="/template/libs/image-uploader/image-uploader.js"></script>
    <script src="/template/libs/daterangepicker-master/moment.min.js"></script>
    <script src="/template/libs/DataTables/datatables.min.js"></script>
    <script src="/template/libs/daterangepicker-master/daterangepicker.js"></script>
    <script src="/template/libs/suneditor-master/dist/suneditor.min.js"></script>
    <script src="/template/js/admin/categories-edit.js"></script>
</body>

</html>