<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Thư viện ngoài (Luôn để đầu tiên) -->
    <link rel="stylesheet" href="/template/stylesheet/fontawesome.min.css">
    <link rel="stylesheet" href="/template/stylesheet/all.min.css">
    <link rel="stylesheet" href="/template/libs/mdb-bootstrap-5-pro/css/mdb.min.css">
    <link rel="stylesheet" href="/template/libs/image-uploader/image-uploader.min.css">
    <link rel="stylesheet" href="/template/libs/DataTables/datatables.min.css">
    <link rel="stylesheet" href="/template/libs/daterangepicker-master/daterangepicker.css">


    <link rel="stylesheet" href="/template/css/main-style.css">
    <link rel="stylesheet" href="/template/css/button-title.css">
    <link rel="stylesheet" href="/template/css/admin/sidebar.css">
    <link rel="stylesheet" href="/template/css/main-header.css">
    <link rel="stylesheet" href="/template/css/admin/admin-discounts-edit.css">
    <link rel="stylesheet" href="/template/css/bootstrap-override.css">
    <link rel="stylesheet" href="/template/css/datatables-override.css">
    <title>Quản lí sản phẩm</title>
</head>

<body>
    <nav id="sidebar-nav" class="close">
        <div class="sidebar close">
            <div class="logo-details">
                <i class="fa-brands fa-square-js"></i>
                <span class="logo_name">Admin Sidebar</span>
            </div>
            <ul class="nav-links">
                <li class="nav-link-page">
                    <a href="#">
                        <i class="fa-solid fa-table-cells-large"></i>
                        <span class="link_name">Điều khiển</span>
                    </a>
                    <ul class="sub-menu">
                        <li><a class="link_name" href="#">Điều khiển</a></li>
                    </ul>
                </li>
                <li class="nav-link-page">
                    <div class="icon-link">
                        <a href="#">
                            <i class="fa-solid fa-layer-group"></i>
                            <span class="link_name">Danh mục</span>
                        </a>
                        <i class="fa-solid fa-angle-down arrow"></i>
                    </div>
                    <ul class="sub-menu">
                        <li><a class="link_name" href="#">Danh mục</a></li>
                        <li><a href="#">Thêm danh mục</a></li>
                        <li><a href="#">Sửa danh mục</a></li>
                        <li><a href="#">Xóa danh mục</a></li>
                    </ul>
                </li>
                <li class="nav-link-page">
                    <div class="icon-link">
                        <a href="#">
                            <i class="fa-solid fa-box"></i>
                            <span class="link_name">Sản phẩm</span>
                        </a>
                        <i class="fa-solid fa-angle-down arrow"></i>
                    </div>
                    <ul class="sub-menu">
                        <li><a class="link_name" href="#">Sản phẩm</a></li>
                        <li><a href="#">Thêm sản phẩm</a></li>
                        <li><a href="#">Sửa sản phẩm</a></li>
                        <li><a href="#">Xóa sản phẩm</a></li>
                    </ul>
                </li>
                <li class="nav-link-page">
                    <div class="icon-link">
                        <a href="#">
                            <i class="fa-solid fa-book"></i>
                            <span class="link_name">Bài viết</span>
                        </a>
                        <i class="fa-solid fa-angle-down arrow"></i>
                    </div>
                    <ul class="sub-menu">
                        <li><a class="link_name" href="#">Bài viết</a></li>
                        <li><a href="#">Thêm bài viết</a></li>
                        <li><a href="#">Sửa bài viết</a></li>
                        <li><a href="#">Xóa bài viết</a></li>
                    </ul>
                </li>
                <li class="nav-link-page">
                    <a href="#">
                        <i class="fa-solid fa-chart-simple"></i>
                        <span class="link_name">Thống kê</span>
                    </a>
                    <ul class="sub-menu">
                        <li><a class="link_name" href="#">Thống kê</a></li>
                    </ul>
                </li>
                <li class="nav-link-page">
                    <a href="#">
                        <i class="fa-solid fa-chart-line"></i>
                        <span class="link_name">Biểu đồ</span>
                    </a>
                    <ul class="sub-menu">
                        <li><a class="link_name" href="#">Biểu đồ</a></li>
                    </ul>
                </li>
                <li class="nav-link-page">
                    <div class="icon-link">
                        <a href="#">
                            <i class="fa-solid fa-plug-circle-bolt"></i>
                            <span class="link_name">Plugins</span>
                        </a>
                        <i class="fa-solid fa-angle-down arrow"></i>
                    </div>
                    <ul class="sub-menu">
                        <li><a class="link_name" href="#">Plugins</a></li>
                        <li><a href="#">UI Face</a></li>
                        <li><a href="#">Pigments</a></li>
                        <li><a href="#">Box Icons</a></li>
                    </ul>
                </li>
                <li class="nav-link-page">
                    <a href="#">
                        <i class="fa-solid fa-headset new-info">
                            <span>11</span>
                        </i>
                        <span class="link_name">Liên hệ</span>
                    </a>
                    <ul class="sub-menu">
                        <li><a class="link_name" href="#">Liên hệ</a></li>
                    </ul>
                </li>
                <li class="nav-link-page">
                    <a href="#">
                        <i class="fa-solid fa-clock-rotate-left"></i>
                        <span class="link_name">History</span>
                    </a>
                    <ul class="sub-menu">
                        <li><a class="link_name" href="#">History</a></li>
                    </ul>
                </li>
                <li class="nav-link-page">
                    <a href="#">
                        <i class="fa-solid fa-gears"></i>
                        <span class="link_name">Setting</span>
                    </a>
                    <ul class="sub-menu">
                        <li><a class="link_name" href="#">Setting</a></li>
                    </ul>
                </li>
                <li class="nav-link-page">
                    <div class="profile-details">
                        <div class="profile-content">
                            <img src="../icon/ship-toan-quoc.jpg" alt="profileImg">
                        </div>
                        <div class="name-job">
                            <div class="profile_name">Nguyễn Tuấn</div>
                            <div class="job">IT Student</div>
                        </div>
                        <i class='bx bx-log-out'></i>
                    </div>
                </li>
            </ul>
            <div id="btn-toggle-sidebar">
                <i class="fa-solid fa-angles-right"></i>
            </div>
        </div>
    </nav>
    <header id="main-header-section">
        <article id="main-header-top">
            <div class="logo-wrapper">
                <img src="/template/icon/logo2.png" alt="">
            </div>
            <div class="main-content-wrapper">
                <ul class="topbar-menu">
                    <li class="topbar-menu-item">
                        <a class="redirect-link" href="/template/home.html">Trang chủ</a>
                    </li>
                    <li class="topbar-menu-item">
                        <a class="redirect-link" href="/template/introduce.html">Giới thiệu</a>
                    </li>
                    <li class="topbar-menu-item">
                        <a class="redirect-link" href="/template/contact.html">Liên hệ</a>
                    </li>
                   
                    <li class="topbar-menu-item">
                        <a class="redirect-link" href="/template/privacy.html">Quy định & chính sách chung</a>
                    </li>
                    <li class="topbar-menu-item">
                        <div class="redirect-link d-flex" href="">
                            <div class="user-wrap d-flex gap-1 align-items-center">
                                <div class="avatar-wrap border rounded rounded-circle p-2 d-flex align-items-center justify-content-between overflow-hidden">
                                    <img src="/template/icon/mien-phi-van-chuyen.jpg" width="20px" alt="">
                                </div>
                                <div>nqat0919</div>
                                <ul class="user-pages">
                                    <div class="shadow">
                                        <ul>
                                            <li>
                                                <a href="/template/user-profile.html" class="d-flex text-decoration-none align-items-baseline gap-2">
                                                    <i class="fa-solid fa-circle-user"></i>
                                                    <span>Trang cá nhân</span>
                                                </a>
                                            </li>
                                            <li>
                                                  <a href="/template/user-profile-order.html" class="d-flex text-decoration-none align-items-baseline gap-2">
                                                    <i class="fa-solid fa-clipboard-list"></i>
                                                    <span>Đơn mua</span>   
                                                </a> 
                                            </li>
                                            <li>
                                                <a href="/template/login.html" class="d-flex text-decoration-none align-items-baseline gap-2">
                                                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                                                    <span>Đăng xuất</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="search-input">
                    <div class="search-input-wrapper">
                        <input type="text" placeholder="Nhập tên sản phẩm cần tìm...">
                        <a class="btn-search" href="/template/search.html">Tìm kiếm</a>
                    </div>
                    <p>Gợi ý từ khóa: Cao hồng sâm, Sâm tầm mật ong, Trà linh chi,...</p>
                </div>
            </div>
        </article>
    </header>
    <section id="main-content-section">
        <div class="main-content">
            <section id="discount_edit">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="left-container">
                                <section id="discount-info">
                                    <h4 class="form-title pb-3">Thông tin khuyến mãi</h4>
                                    <h6>Mã chương trình</h6>
                                    <h5>#14505</h5>
                                    <label for="txt_date" class="d-block py-2 fw-semibold">Thời hạn khuyến mãi *</label>
                                    <div class="form-outline">
                                        <input type="text" class="form-control" placeholder="Thời hạn khuyến mãi" id="txt_date">
                                    </div>
                                    <label for="select_discount_rangeDate" class="d-block py-2 fw-semibold">Tình trạng hiện tại</label>
                                    <select class="select" id="select_discount_rangeDate">
                                        <option value="1">Hoạt động</option>
                                        <option value="2">Vô hiệu hóa</option>
                                    </select>
                                    <div class="mt-3">
                                        <label class="form-label fw-semibold fs-4" for="discount-value">Giảm giá</label>
                                        <div class="range">
                                            <input type="range" class="form-range" id="discount-value" />
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="right-container">
                                <form action="" id="discounts-form">
                                    <section id="discounts-list-section">
                                        <div class="bg-gold bg-sharp p-1 shadow">
                                            <div class="bg-primary-red-main-color text-wheat-color fs-3 fw-semibold text-uppercase text-center">
                                                giảm giá cuối năm 2023
                                            </div>
                                        </div>
                                        <hr class="divider-horizontal-blurry">
                                        <h4 class="form-title">Lựa chọn sản phẩm</h4>
                                        <h6 class="form-title">Chọn sản phẩm để áp dụng giảm giá</h6>
                                        <div class="products-range">
                                        </div>
                                        <hr class="horizontal">
                                        <div class="filter-input">
                                            <i class="fa-solid fa-magnifying-glass"></i>
                                            <input type="text" placeholder="Tìm kiếm sản phẩm">
                                        </div>
                                        <table id="products_filter_table" class="display" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Sản phẩm</th>
                                                    <th>Tồn kho</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </section>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="actions-field">
                            <button class="cancel-btn">Làm mới</button>
                            <button class="update-btn">Cập nhật thông tin</button>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
    <script src="/template/js/jquery.js"></script>
    <script src="/template/libs/mdb-bootstrap-5-pro/js/mdb.min.js"></script>
    <script src="/template/js/admin/sidebar.js"></script>
    <script src="/template/libs/DataTables/datatables.min.js"></script>
    <script src="/template/libs/daterangepicker-master/moment.min.js"></script>
    <script src="/template/libs/daterangepicker-master/daterangepicker.js"></script>
    <script src="/template/libs/DataTables/datatables.min.js"></script>
    <script src="/template/js/admin/discounts-edit.js"></script>
</body>

</html>