<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Thư viện ngoài (Luôn để đầu tiên) -->
    <link rel="stylesheet" href="/template/stylesheet/fontawesome.min.css">
    <link rel="stylesheet" href="/template/stylesheet/all.min.css">
    <link rel="stylesheet" href="/template/libs/suneditor-master/dist/css/suneditor.min.css">
    <link rel="stylesheet" href="/template/libs/mdb-bootstrap-5-pro/css/mdb.min.css">
    <link rel="stylesheet" href="/template/libs/flickity/flickity.min.css">
    <link rel="stylesheet" href="/template/css/admin/details-product-template.css">
    <link rel="stylesheet" href="/template/libs/image-uploader/image-uploader.min.css">


    <link rel="stylesheet" href="/template/css/main-style.css">
    <link rel="stylesheet" href="/template/css/admin/sidebar.css">
    <link rel="stylesheet" href="/template/css/main-header.css">
    <link rel="stylesheet" href="/template/css/admin/admin-modal.css">
    <link rel="stylesheet" href="/template/css/button-title.css">
    <link rel="stylesheet" href="/template/css/admin/admin-product.css">
    <title>Quản lí sản phẩm</title>
</head>

<body>
    <nav id="sidebar-nav" class="close">
        <div class="sidebar close">
            <div class="logo-details">
                <i class="fa-brands fa-square-js"></i>
                <span class="logo_name">Admin Sidebar</span>
            </div>
            <ul class="nav-links">
                <li class="nav-link-page">
                    <a href="#">
                        <i class="fa-solid fa-table-cells-large"></i>
                        <span class="link_name">Điều khiển</span>
                    </a>
                    <ul class="sub-menu">
                        <li><a class="link_name" href="#">Điều khiển</a></li>
                    </ul>
                </li>
                <li class="nav-link-page">
                    <div class="icon-link">
                        <a href="#">
                            <i class="fa-solid fa-layer-group"></i>
                            <span class="link_name">Danh mục</span>
                        </a>
                        <i class="fa-solid fa-angle-down arrow"></i>
                    </div>
                    <ul class="sub-menu">
                        <li><a class="link_name" href="#">Danh mục</a></li>
                        <li><a href="#">Thêm danh mục</a></li>
                        <li><a href="#">Sửa danh mục</a></li>
                        <li><a href="#">Xóa danh mục</a></li>
                    </ul>
                </li>
                <li class="nav-link-page">
                    <div class="icon-link">
                        <a href="#">
                            <i class="fa-solid fa-box"></i>
                            <span class="link_name">Sản phẩm</span>
                        </a>
                        <i class="fa-solid fa-angle-down arrow"></i>
                    </div>
                    <ul class="sub-menu">
                        <li><a class="link_name" href="#">Sản phẩm</a></li>
                        <li><a href="#">Thêm sản phẩm</a></li>
                        <li><a href="#">Sửa sản phẩm</a></li>
                        <li><a href="#">Xóa sản phẩm</a></li>
                    </ul>
                </li>
                <li class="nav-link-page">
                    <div class="icon-link">
                        <a href="#">
                            <i class="fa-solid fa-book"></i>
                            <span class="link_name">Bài viết</span>
                        </a>
                        <i class="fa-solid fa-angle-down arrow"></i>
                    </div>
                    <ul class="sub-menu">
                        <li><a class="link_name" href="#">Bài viết</a></li>
                        <li><a href="#">Thêm bài viết</a></li>
                        <li><a href="#">Sửa bài viết</a></li>
                        <li><a href="#">Xóa bài viết</a></li>
                    </ul>
                </li>
                <li class="nav-link-page">
                    <a href="#">
                        <i class="fa-solid fa-chart-simple"></i>
                        <span class="link_name">Thống kê</span>
                    </a>
                    <ul class="sub-menu">
                        <li><a class="link_name" href="#">Thống kê</a></li>
                    </ul>
                </li>
                <li class="nav-link-page">
                    <a href="#">
                        <i class="fa-solid fa-chart-line"></i>
                        <span class="link_name">Biểu đồ</span>
                    </a>
                    <ul class="sub-menu">
                        <li><a class="link_name" href="#">Biểu đồ</a></li>
                    </ul>
                </li>
                <li class="nav-link-page">
                    <div class="icon-link">
                        <a href="#">
                            <i class="fa-solid fa-plug-circle-bolt"></i>
                            <span class="link_name">Plugins</span>
                        </a>
                        <i class="fa-solid fa-angle-down arrow"></i>
                    </div>
                    <ul class="sub-menu">
                        <li><a class="link_name" href="#">Plugins</a></li>
                        <li><a href="#">UI Face</a></li>
                        <li><a href="#">Pigments</a></li>
                        <li><a href="#">Box Icons</a></li>
                    </ul>
                </li>
                <li class="nav-link-page">
                    <a href="#">
                        <i class="fa-solid fa-headset new-info">
                            <span>11</span>
                        </i>
                        <span class="link_name">Liên hệ</span>
                    </a>
                    <ul class="sub-menu">
                        <li><a class="link_name" href="#">Liên hệ</a></li>
                    </ul>
                </li>
                <li class="nav-link-page">
                    <a href="#">
                        <i class="fa-solid fa-clock-rotate-left"></i>
                        <span class="link_name">History</span>
                    </a>
                    <ul class="sub-menu">
                        <li><a class="link_name" href="#">History</a></li>
                    </ul>
                </li>
                <li class="nav-link-page">
                    <a href="#">
                        <i class="fa-solid fa-gears"></i>
                        <span class="link_name">Setting</span>
                    </a>
                    <ul class="sub-menu">
                        <li><a class="link_name" href="#">Setting</a></li>
                    </ul>
                </li>
                <li class="nav-link-page">
                    <div class="profile-details">
                        <div class="profile-content">
                            <img src="../icon/ship-toan-quoc.jpg" alt="profileImg">
                        </div>
                        <div class="name-job">
                            <div class="profile_name">Nguyễn Tuấn</div>
                            <div class="job">IT Student</div>
                        </div>
                        <i class='bx bx-log-out'></i>
                    </div>
                </li>
            </ul>
            <div id="btn-toggle-sidebar">
                <i class="fa-solid fa-angles-right"></i>
            </div>
        </div>
    </nav>
    <header id="main-header-section">
        <article id="main-header-top">
            <div class="logo-wrapper">
                <img src="/template/icon/logo2.png" alt="">
            </div>
            <div class="main-content-wrapper">
                <ul class="topbar-menu">
                    <li class="topbar-menu-item">
                        <a class="redirect-link" href="">Trang chủ</a>
                    </li>
                    <li class="topbar-menu-item">
                        <a class="redirect-link" href="">Giới thiệu</a>
                    </li>
                    <li class="topbar-menu-item">
                        <a class="redirect-link" href="">Liên hệ</a>
                    </li>
                    <li class="topbar-menu-item">
                        <a class="redirect-link" href="">Hướng dẫn mua hàng</a>
                    </li>
                    <li class="topbar-menu-item">
                        <a class="redirect-link" href="">Quy định & chính sách chung</a>
                    </li>
                    <li class="topbar-menu-item">
                        <div class="redirect-link d-flex" href="">
                            <div class="user-wrap d-flex gap-1 align-items-center">
                                <div class="avatar-wrap border rounded rounded-circle p-2 d-flex align-items-center justify-content-between overflow-hidden">
                                    <img src="/template/icon/mien-phi-van-chuyen.jpg" width="20px" alt="">
                                </div>
                                <div>nqat0919</div>
                                <ul class="user-pages">
                                    <div class="shadow">
                                        <ul>
                                            <li>
                                                <a href="#" class="d-flex text-decoration-none align-items-baseline gap-2">
                                                    <i class="fa-solid fa-circle-user"></i>
                                                    <span>Trang cá nhân</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="d-flex text-decoration-none align-items-baseline gap-2">
                                                    <i class="fa-solid fa-clipboard-list"></i>
                                                    <span>Đơn mua</span>   
                                                </a> 
                                            </li>
                                            <li>
                                                <a href="#" class="d-flex text-decoration-none align-items-baseline gap-2">
                                                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                                                    <span>Đăng xuất</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="search-input">
                    <div class="search-input-wrapper">
                        <input type="text" placeholder="Nhập tên sản phẩm cần tìm...">
                        <a class="btn-search" href="">Tìm kiếm</a>
                    </div>
                    <p>Gợi ý từ khóa: Cao hồng sâm, Sâm tầm mật ong, Trà linh chi,...</p>
                </div>
            </div>
        </article>
    </header>
    <section id="main-content-section">
        <div class="main-content">
            <div class="product-control">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 px-0">
                            <form action="" class="filter-form">
                                <div class="action-field">
                                    <div class="form-title">Bộ lọc</div>
                                    <button type="submit">Lọc sản phẩm</button>
                                </div>
                                <div class="filter-button-field">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                    <input type="text">
                                </div>
                                <div class="filter-radio-field">
                                    <div class="form-title">Danh mục</div>
                                    <ul class="field-show">
                                        <li>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="cate1"
                                                    id="nuoc-hong-sam" />
                                                <label class="form-check-label" for="nuoc-hong-sam">Nước hồng
                                                    sâm</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="cate2"
                                                    id="cao-hong-sam" />
                                                <label class="form-check-label" for="cao-hong-sam">Cao hồng sâm</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="cate3"
                                                    id="sam-kho" />
                                                <label class="form-check-label" for="sam-kho">Sâm khô</label>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="field-others collapse" id="others">
                                        <ul>
                                            <li>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="cate4"
                                                        id="sam-mat-ong" />
                                                    <label class="form-check-label" for="sam-mat-ong">Sâm mật
                                                        ong</label>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="cate5"
                                                        id="hac-sam" />
                                                    <label class="form-check-label" for="hac-sam">Hắc sâm</label>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="cate6"
                                                        id="nhan-sam-tuoi" />
                                                    <label class="form-check-label" for="nhan-sam-tuoi">Nhân sâm
                                                        tươi</label>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="cate7"
                                                        id="ruou-sam-linh-chi" />
                                                    <label class="form-check-label" for="ruou-sam-linh-chi">Rượu sâm
                                                        linh chi</label>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="cate8"
                                                        id="tra-hong-sam" />
                                                    <label class="form-check-label" for="tra-hong-sam">Trà hồng
                                                        sâm</label>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="cate9"
                                                        id="vien-hong-sam" />
                                                    <label class="form-check-label" for="vien-hong-sam">Viên hồng
                                                        sâm</label>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <a href="#others" data-mdb-toggle="collapse" aria-expanded="false"
                                        class="show-all-toggle">Hiện tất cả...</a>
                                </div>
                                <div class="filter-radio-field">
                                    <div class="form-title">Thương hiệu</div>
                                    <ul class="field-show">
                                        <li>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="cheongkwangjang"
                                                    id="cheong-kwang-jang" />
                                                <label class="form-check-label" for="cheong-kwang-jang">CHEONG KWANG
                                                    JANG</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="daedong"
                                                    id="daedong" />
                                                <label class="form-check-label" for="daedong">DAEDONG</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="kwandaong"
                                                    id="kwandaong" />
                                                <label class="form-check-label" for="kwandaong">KWANGDONG</label>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-9 px-0">
                            <div class="product-list">
                                <button class="add-btn view-btn" data-product-id = 'new'>
                                    <i class="fa-solid fa-plus"></i>
                                    <span>Thêm sản phẩm</span>
                                </button>
                                <div class="product-grid product-list-head">
                                    <span class="justify-self-center">#</span>
                                    <span>Hình ảnh</span>
                                    <span>Mã sản phẩm</span>
                                    <span>Tên sản phẩm</span>
                                    <span>Giá bán</span>
                                    <span>Tồn kho</span>
                                </div>
                                <!-- Body -->
                                <div class="product-list-body">
                                    <div class="product-grid product-info">
                                        <input class="form-check-input justify-self-center collapse-toggle"
                                            type="checkbox">
                                        <div class="img-product"></div>
                                        <span class="id-product">CHS013912</span>
                                        <span>Cao hồng sâm Hong Seon Gold hộp 2 lọ 250g</span>
                                        <span>980.000₫</span>
                                        <span>15</span>
                                        <div class="product-more-info collapse">
                                            <div class="product-wrap">
                                                <div class="img-product"></div>
                                                <div class="more-stats">
                                                    <div class="stat">
                                                        <label>Tên sản phẩm</label>
                                                        <span>Cao hồng sâm Hong Seon Gold</span>
                                                    </div>
                                                    <div class="stat">
                                                        <label>Giá bán</label>
                                                        <span>980.000₫</span>
                                                    </div>
                                                    <div class="stat">
                                                        <label>Mã sản phẩm</label>
                                                        <span>CHS013912</span>
                                                    </div>
                                                    <div class="stat">
                                                        <label>Quy cách</label>
                                                        <span>2 lọ 250g</span>
                                                    </div>
                                                    <div class="stat">
                                                        <label>Tồn kho</label>
                                                        <span>15</span>
                                                    </div>
                                                    <div class="stat">
                                                        <label>Thương hiệu</label>
                                                        <span>Seon Gold</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="action-btns">
                                            <i class="fa-regular fa-circle-xmark remove-btn" data-mdb-toggle="tooltip" title="Xóa sản phẩm"></i>
                                            <i class="fa-regular fa-edit view-btn" data-mdb-toggle="tooltip" title="Chỉnh sửa" data-product-id = 'CHS013912'></i>
                                            <a href="/template/details_product.html" data-mdb-toggle="tooltip" title="Xem trang sản phẩm"><i class="fa-regular fa-eye remove-btn"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-grid product-info">
                                        <input class="form-check-input justify-self-center collapse-toggle"
                                            type="checkbox">
                                        <div class="img-product"></div>
                                        <span class="id-product">CHS999112</span>
                                        <span>Cao Hắc Sâm Nguyên Chất 100% – DAEDONG</span>
                                        <span>3.200.000₫</span>
                                        <span>21</span>
                                        <div class="product-more-info collapse">
                                            <div class="product-wrap">
                                                <div class="img-product"></div>
                                                <div class="more-stats">
                                                    <div class="stat">
                                                        <label>Tên sản phẩm</label>
                                                        <span>Cao Hắc Sâm Nguyên Chất 100%</span>
                                                    </div>
                                                    <div class="stat">
                                                        <label>Giá bán</label>
                                                        <span>3.200.000₫</span>
                                                    </div>
                                                    <div class="stat">
                                                        <label>Mã sản phẩm</label>
                                                        <span>CHS999112</span>
                                                    </div>
                                                    <div class="stat">
                                                        <label>Quy cách</label>
                                                        <span>120g / 240g</span>
                                                    </div>
                                                    <div class="stat">
                                                        <label>Tồn kho</label>
                                                        <span>21</span>
                                                    </div>
                                                    <div class="stat">
                                                        <label>Thương hiệu</label>
                                                        <span>Daedong</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-grid product-info">
                                        <input class="form-check-input justify-self-center collapse-toggle"
                                            type="checkbox">
                                        <div class="img-product"></div>
                                        <span class="id-product">SMA929138</span>
                                        <span>Sâm củ tẩm mật ong hộp 300g 8 củ – POCHEON</span>
                                        <span>1.430.000₫</span>
                                        <span>07</span>
                                        <div class="product-more-info collapse">
                                            <div class="product-wrap">
                                                <div class="img-product"></div>
                                                <div class="more-stats">
                                                    <div class="stat">
                                                        <label>Tên sản phẩm</label>
                                                        <span>Sâm củ tẩm mật ong hộp 300g 8 củ</span>
                                                    </div>
                                                    <div class="stat">
                                                        <label>Giá bán</label>
                                                        <span>1.430.000₫</span>
                                                    </div>
                                                    <div class="stat">
                                                        <label>Mã sản phẩm</label>
                                                        <span>SMA929138</span>
                                                    </div>
                                                    <div class="stat">
                                                        <label>Quy cách</label>
                                                        <span>Hộp 300g 8 củ</span>
                                                    </div>
                                                    <div class="stat">
                                                        <label>Tồn kho</label>
                                                        <span>07</span>
                                                    </div>
                                                    <div class="stat">
                                                        <label>Thương hiệu</label>
                                                        <span>Pocheon</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="my-modal">
        </div>
        <div class="overlay"></div>
    </section>  
    <!-- Modal -->
    <div class="modal fade" id="admin-product-modal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                <div class="modal-title">
                    <div class="admin-modal-tabs active">
                        <button class="tab active" data-modal-tab="#mdal-tab-setting">
                            <i class="fa-solid fa-sliders"></i>
                            <span>Chỉnh sửa thông tin</span>
                        </button>
                        <button class="tab" data-modal-tab="#mdal-tab-details">
                            <i class="fa-regular fa-pen-to-square"></i>
                            <span>Bài viết mô tả</span>
                        </button>
                    </div>
                </div>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="modal-content">
                        <div class="container">
                            <div class="row tab-content show" id="mdal-tab-setting">
                                <form action="" method="post" class="form-product-setting" enctype="multipart/form-data">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-outline">
                                                <i class="fa-solid fa-hashtag trailing"></i>
                                                <input type="text" id="input_id_product" class="form-control" maxlength="10" minlength="10" readonly/>
                                                <label class="form-label" for="input_id_product">Mã sản phẩm</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-outline">
                                                <input type="text" id="input_name_product" class="form-control" />
                                                <label class="form-label" for="input_name_product">Tên sản phẩm</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-outline">
                                                <i class="trailing">VNĐ</i>
                                                <input type="text" id="input_price_product" class="form-control" />
                                                <label class="form-label" for="input_price_product">Giá bán</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <select class="select" id="select_category_product">
                                                <!-- JavaScript ở chèn option vào đây -->
                                            </select>
                                            <label class="form-label select-label">Danh mục sản phẩm</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-outline">
                                                <input type="text" id="input_specific_product" class="form-control"/>
                                                <label class="form-label" for="input_specific_product">Quy cách</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-outline">
                                                <input type="text" id="input_weight_product" class="form-control"/>
                                                <label class="form-label" for="input_weight_product">Trọng lượng (gram)</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-outline autocomplete" id="async-brands">
                                                <input type="text" id="input_brand_product" class="form-control"/>
                                                <label class="form-label" for="input_brand_product">Thương hiệu</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-outline">
                                                <input type="text" id="input_remains_product" class="form-control"/>
                                                <label class="form-label" for="input_remains_product">Tồn kho</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-outline">
                                                <input type="text" id="input_age_product" class="form-control"/>
                                                <label class="form-label" for="input_age_product">Độ tuổi nhỏ nhất</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <select class="select" id="select_producers_product">
                                                <!-- JavaScript chèn option vào đây -->
                                            </select>
                                            <label class="form-label select-label">Đơn vị sản xuất</label>
                                        </div>
                                    </div>
                                    <div class="form-outline">
                                        <textarea class="form-control" id="txtArea_desc_product" rows="4"></textarea>
                                        <label class="form-label" for="txtArea_desc_product">Mô tả sản phẩm</label>
                                    </div>
                                    <label for="images_thumbnail_product" class="form-label">Hình ảnh đại diện</label>
                                    <div class="input-images" id="images_thumbnail_product"></div>
                                    <label for="images_gallery_product" class="form-label">Hình ảnh thư viện</label>
                                    <div class="input-images" id="images_gallery_product"></div>
                                    <button type="submit" class="btn-confirm-update">Cập nhập thông tin sản phẩm</button>
                                </form>
                            </div>
                            <div class="row tab-content" id="mdal-tab-details">
                                <div class="blog">
                                    <div id="sample">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal top fade" id="confirm-modal" tabindex="-1" aria-hidden="true" data-mdb-backdrop="static" data-mdb-keyboard="false">
        <div class="modal-dialog modal-sm  modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Lưu thay đổi</h5>
            </div>
            <div class="modal-body">Bạn có chắc muốn lưu thay đổi bài viết?</div>
            <div class="modal-footer">
              <button type="button" class="btn-confirm-cancel" data-mdb-dismiss="modal">
                <i class="fa-solid fa-xmark"></i>
                <span>Hủy bỏ</span>
              </button>
              <button type="button" class="btn-confirm-changed" data-mdb-dismiss="modal">
                <span>Lưu</span>
                <i class="fa-solid fa-floppy-disk"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    <!-- Template Preview Bài viết -->
    <!-- <section id="details-product">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="tabs">
                        <div class="tablinks tablinks-is-active" data-tab-target="#tab-product-content">Mô tả sản phẩm</div>
                        <div class="tablinks"> Địa chỉ mua hàng</div>
                        <div class="tablinks"> Đánh giá sản phẩm</div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="tab-content-wrapper">
                        <section class="tab-content tab-is-active" id="tab-product-content">
                            {{contents}}
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <script src="/template/js/jquery.js"></script>
    <script src="/template/libs/mdb-bootstrap-5-pro/js/mdb.min.js"></script>
    <script src="/template/libs/flickity/flickity.pkgd.min.js"></script>
    <script src="/template/libs/suneditor-master/dist/suneditor.min.js"></script>
    <script src="/template//libs/image-uploader/image-uploader.js"></script>
    <script src="/template/js/admin/sidebar.js"></script>
    <script src="/template/js/admin/product.js"></script>
    <script src="/template/js/admin/modal.js"></script>
</body>

</html>