#home-featured-products-section .shipment-wrapper {
    display: flex;
    width: 100%;
    min-height: 100px;
    background-color: #ffffff;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
}

#home-featured-products-section .shipment-wrapper .shipment-col {
    display: flex;
    gap: 10px;
}

#home-featured-products-section .shipment-wrapper .shipment-col p {
    color: gray;
}