#main-content-section {
    height: 100%;
}

#product_edit {
    width: 100%;
}

#product_edit .container .left-container {
    position: sticky;
    top: 70px;
    min-height: 100px;
    background-color: white;
    width: 100%;
}

#product_edit .container .right-container {
    min-height: 800px;
    background-color: white;
    width: 100%;
}

#product_edit #products-form {
    padding: 20px;
}

#product_edit #products-form .form-title {
    font-weight: 500;
}

#product_edit #products-form .products-range {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 10px;
    padding: 20px;
    border: 1px dashed rgba(0,0,0,.5);
    border-radius: 5px;
    min-height: 236px;
    margin-top: 10px;
    margin-bottom: 20px;
}

#product_edit #products-form .products-range .product-card {
    display: flex;
    align-items: center;
    width: inherit;
    gap: 10px;
    border: 1px dashed rgba(0,0,0,.5);
    border-radius: 5px;
    padding: 10px;
    height: fit-content;
    position: relative;
}

#product_edit #products-form .products-range .product-card .remove-btn {
    font-size: 18px;
    cursor: pointer;
    color: #fa5252;
    position: absolute;
    right: -8px;
    top: -12px;
    display: inline-block;
    opacity: 0;
    transition: all .2s;
}

#product_edit #products-form .products-range .product-card:hover .remove-btn {
    opacity: 1;
}

#product_edit #products-form .products-range .product-card .img-wrap {
    flex-shrink: 0;
    width: 64px;
    height: 64px;
    background-color: #f9f9f9;
    border: 1px dashed rgba(0,0,0,.5);
}

#product_edit #products-form .products-range .product-card .info-wrap {
    overflow: hidden;
}

#product_edit #products-form .products-range .product-card .info-wrap .product-title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 500;
}

#product_edit #products-form .products-range .product-card .info-wrap .product-price {
    font-size: 14px;
    font-weight: 500;
}

#product_edit #products-form .products-range .product-card .info-wrap .id-wrap {
    display: flex;
    align-items: center;
}

#product_edit #products-form .products-range .product-card .info-wrap .id-wrap .product-id {
    font-size: 14px;
    color: rgba(0,0,0,.5);
}

#product_edit #products-form .products-range .product-card .info-wrap .id-wrap .number-field {
    display: flex;
    height: 20px;
    margin-left: auto;
}

#product_edit #products-form .products-range .product-card .info-wrap .id-wrap .number-field input {
    width: 30px;
    border: 1px solid rgba(0,0,0,.5);
    text-align: center;
    font-size: 13px;
    font-weight: bold;
}

#product_edit input:focus-visible {
    outline: none;
}

#product_edit #products-form .products-range .product-card .info-wrap .id-wrap .number-field button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border: 1px solid rgba(0,0,0,.5);
    background-color: var(--red-color-main);
    color: var(--wheat-color);
    transition: all .3s;
}

#product_edit #products-form .products-range .product-card .info-wrap .id-wrap .number-field button:hover {
    background-color: var(--red-dark-color-main);
}

#product_edit #products-form .products-range .product-card .info-wrap .id-wrap .number-field button span {
    display: flex;
    width: 10px;
    height: 10px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

#product_edit #products-form .filter-input {
    background-color: #f9f9f9;
    border-radius: 5px;
    display: inline-flex;
    padding: 10px 15px;
    gap: 10px;
    align-items: center;
    color: #4B5675;
}

#product_edit #products-form .filter-input:has(input:focus) {
    background-color: #f1f1f4;
}

#product_edit #products-form .filter-input input {
    width: 250px;
    border: 0;
    background: none;
    font-weight: 500;
}

/*  */
.product-wrap {
    display: flex;
    align-items: center;
    width: inherit;
    gap: 10px;
    border-radius: 5px;
    height: fit-content;
    position: relative;
}

.product-wrap .img-wrap {
    flex-shrink: 0;
    width: 64px;
    height: 64px;
    background-color: #f9f9f9;
    border: 1px dashed rgba(0,0,0,.5);
}

.product-wrap .info-wrap {
    overflow: hidden;
}

.product-wrap .info-wrap .product-title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 500;
}

.product-wrap .info-wrap .product-price {
    font-size: 14px;
    font-weight: 500;
}

.product-wrap .info-wrap .id-wrap {
    display: flex;
    align-items: center;
}

.product-wrap .info-wrap .id-wrap .product-id {
    font-size: 14px;
    color: rgba(0,0,0,.5);
}

#products_filter_table tbody tr td {
    background-color: white;
    box-shadow: none;
}

#products_filter_table tbody tr td {
    border-top: 1px dashed rgba(0,0,0,.5);
}

#products_filter_table tbody tr:first-child td {
    border-top: none;
}

#products_filter_table_wrapper .dataTables_scrollBody::-webkit-scrollbar {
    width: 15px;
}

#products_filter_table_wrapper .dataTables_scrollBody:hover::-webkit-scrollbar-thumb {
    border-right: 5px solid #dbdfe9;
}