@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
    --light: #f6f6f9;
    --primary: #1976D2;
    --light-primary: #CFE8FF;
    --grey: #eee;
    --dark-grey: #AAAAAA;
    --dark: #363949;
    --danger: #D32F2F;
	--light-danger: #FECDD3;
    --warning: #FBC02D;
    --light-warning: #FFF2C6;
    --success: #388E3C;
    --light-success: #BBF7D0;
}

#main-content-section .dashboard h1,.dashboard h3,.dashboard p,.dashboard th{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.dashboard main .bottom-data .header .fa-solid {
    font-size: 1.7rem;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

html{
    overflow-x: hidden;
}

body.dark{
    --light: #181a1e;
    --grey: #25252c;
    --dark: #fbfbfb
}

body{
    background: var(--grey);
    overflow-x: hidden;
}



.dashboard{
    position: relative;
    width: 1380px;
    left: 30px;
    transition: all 0.3s ease;
}

.sidebar.close~.dashboard{
    width: calc(100% - 60px);
    left: 60px;
}

.dashboard nav{
    height: 56px;
    background: var(--light);
    padding: 0 24px 0 0;
    display: flex;
    align-items: center;
    grid-gap: 24px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
}

.dashboard nav::before{
    dashboard: "";
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: -40px;
    left: 0;
    border-radius: 50%;
    box-shadow: -20px -20px 0 var(--light);
}

.dashboard nav a{
    color: var(--dark);
}


.dashboard nav form{
    max-width: 400px;
    width: 100%;
    margin-right: auto;
}

.dashboard nav form .form-input{
    display: flex;
    align-items: center;
    height: 36px;
}

.dashboard nav form .form-input input{
    flex-grow: 1;
    padding: 0 16px;
    height: 100%;
    border: none;
    background: var(--grey);
    border-radius: 36px 0 0 36px;
    outline: none;
    width: 100%;
    color: var(--dark);
}

.dashboard nav form .form-input button{
    width: 80px;
    height: 100%;
    display: flex;
    justify-dashboard: center;
    align-items: center;
    background: var(--primary);
    color: var(--light);
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 0 36px 36px 0;
    cursor: pointer;
}

.dashboard nav .notif{
    font-size: 20px;
    position: relative;
}

.dashboard nav .notif .count{
    position: absolute;
    top: -6px;
    right: -6px;
    width: 20px;
    height: 20px;
    background: var(--danger);
    border-radius: 50%;
    color: var(--light);
    border: 2px solid var(--light);
    font-weight: 700;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-dashboard: center;
}

.dashboard nav .profile img{
    width: 36px;
    height: 36px;
    object-fit: cover;
    border-radius: 50%;
}

.dashboard nav .theme-toggle{
    display: block;
    min-width: 50px;
    height: 25px;
    background: var(--grey);
    cursor: pointer;
    position: relative;
    border-radius: 25px;
}

.dashboard nav .theme-toggle::before{
    dashboard: "";
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: calc(25px - 4px);
    background: var(--primary);
    border-radius: 50%;
    transition: all 0.3s ease;
}

.dashboard nav #theme-toggle:checked+.theme-toggle::before{
    left: calc(100% - (25px - 4px) - 2px);
}

.dashboard main{
    width: 100%;
    padding: 36px 24px;
    max-height: calc(100vh - 56px);
}

.dashboard main .header{
    display: flex;
    align-items: center;
    justify-dashboard: space-between;
    grid-gap: 16px;
    flex-wrap: wrap;
}

.dashboard main .header .left h1{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--dark);
}

.dashboard main .header .left .breadcrumb{
    display: flex;
    align-items: center;
    grid-gap: 16px;
}

.dashboard main .header .left .breadcrumb li{
    color: var(--dark);
}

.dashboard main .header .left .breadcrumb li a{
    color: var(--dark-grey);
    pointer-events: none;
}

.dashboard main .header .left .breadcrumb li a.active{
    color: var(--primary);
    pointer-events: none;
}

.dashboard main .header .report{
    height: 36px;
    padding: 0 16px;
    border-radius: 36px;
    background: var(--primary);
    color: var(--light);
    display: flex;
    align-items: center;
    justify-dashboard: center;
    grid-gap: 10px;
    font-weight: 500;
}

.dashboard main .insights{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 24px;
    margin-top: 36px;
    padding-left: 0;
}

.dashboard main .insights li{
    padding: 24px;
    background: var(--light);
    border-radius: 20px;
    display: flex;
    align-items: center;
    grid-gap: 24px;
    cursor: pointer;
}

.dashboard main .insights li .fa-regular{
    width: 80px;
    height: 80px;
    border-radius: 10px;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard main .insights li:nth-child(1) .fa-regular{
    background: var(--light-primary);
    color: var(--primary);
}

.dashboard main .insights li:nth-child(2) .fa-regular{
    background: var(--light-warning);
    color: var(--warning);
}

.dashboard main .insights li:nth-child(3) .fa-regular{
    background: var(--light-success);
    color: var(--success);
}

.dashboard main .insights li:nth-child(4) .fa-regular{
    background: var(--light-danger);
    color: var(--danger);
}

.dashboard main .insights li .info h3{
    font-size: 24px;
    font-weight: 600;
    color: var(--dark);
}

.dashboard main .insights li .info p{
    color: var(--dark);
}

.dashboard main .bottom-data{
    display: flex;
    flex-wrap: wrap;
    grid-gap: 24px;
    margin-top: 24px;
    width: 100%;
    color: var(--dark);
}

.dashboard main .bottom-data>div{
    border-radius: 20px;
    background: var(--light);
    padding: 24px;
    overflow-x: auto;
}

.dashboard main .bottom-data .header{
    display: flex;
    align-items: center;
    grid-gap: 16px;
    margin-bottom: 24px;
}

.dashboard main .bottom-data .header h3{
    margin-right: auto;
    margin-top: 7px;
    font-size: 24px;
    font-weight: 600;
}

.dashboard main .bottom-data .header .fa-solid{
    cursor: pointer;
}

.dashboard main .bottom-data .orders{
    flex-grow: 1;
    flex-basis: 500px;
    box-shadow: 0 4px 8px #b1b1b1;
    transition: box-shadow 0.3s ease;
}

.dashboard main .bottom-data .orders table{
    width: 100%;
    border-collapse: collapse;
}

.dashboard main .bottom-data .orders table th{
    padding-bottom: 12px;
    font-size: 13px;
    text-align: left;
    border-bottom: 1px solid var(--grey);
}

.dashboard main .bottom-data .orders table td{
    padding: 16px 0;
}

.dashboard main .bottom-data .orders table tr td:first-child{
    display: flex;
    align-items: center;
    grid-gap: 12px;
    padding-left: 6px;
}

.dashboard main .bottom-data .orders table td img{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}

.dashboard main .bottom-data .orders table tbody tr{
    cursor: pointer;
    transition: all 0.3s ease;
}

.dashboard main .bottom-data .orders table tbody tr:hover{
    background: var(--grey);
}

.dashboard main .bottom-data .orders table tr td .status{
    font-size: 10px;
    padding: 6px 16px;
    color: var(--light);
    border-radius: 20px;
    font-weight: 700;
}

.dashboard main .bottom-data .orders table tr td .status.completed{
    background: var(--success);
}

.dashboard main .bottom-data .orders table tr td .status.process{
    background: var(--primary);
}


.dashboard main .bottom-data .orders table tr td .status.pending{
    background: var(--warning);
}

.dashboard main .bottom-data .chart{
    flex-grow: 1;
    flex-basis: 300px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px #b1b1b1;
    transition: box-shadow 0.3s ease;
}

.dashboard main .bottom-data .chart canvas {
    max-width: 100%;
    max-height: 100%;
}



@media screen and (max-width: 768px) {
    .sidebar{
        width: 200px;
    }

    .dashboard{
        width: calc(100% - 60px);
        left: 200px;
    }

}

@media screen and (max-width: 576px) {
    
    .dashboard nav form .form-input input{
        display: none;
    }

    .dashboard nav form .form-input button{
        width: auto;
        height: auto;
        background: transparent;
        color: var(--dark);
        border-radius: none;
    }

    .dashboard nav form.show .form-input input{
        display: block;
        width: 100%;
    }

    .dashboard nav form.show .form-input button{
        width: 36px;
        height: 100%;
        color: var(--light);
        background: var(--danger);
        border-radius: 0 36px 36px 0;
    }

    .dashboard nav form.show~.notif, .dashboard nav form.show~.profile{
        display: none;
    }

    .dashboard main .insights {
        grid-template-columns: 1fr;
    }

    .dashboard main .bottom-data .header{
        min-width: 340px;
    }

    .dashboard main .bottom-data .orders table{
        min-width: 340px;
    }

    .dashboard main .bottom-data .chart .task-list{
        min-width: 340px;
    }

}