/*thêm user vào header header */
.user-profile-header-container,.notification-container{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    
}
.notification-container i {
    display: inline-block;
}

.user-avartar-header-img{
    border-radius: 50%;
    height: 20px;
    margin-left: 10px !important;
}
 .user-profile-container  span{
    padding: 0 5px !important;
    font-weight: 600;
}
/* user profile content */
#user-profile{
    background-color: #eaeaea;
}
.user-profile-container{
    display: flex;
    padding: 1.25rem 0 3.125rem;
    margin-right: 10%;
    margin-left: 10%;
    background-color: #eaeaea;
}
/* left control */
.left-control{
    display: block;
    width: 180px;
    flex-shrink: 0;
    /* background-color: bisque; */
}
    /* user avatar */
.user-profile{
    display: flex;
    padding: 15px 0;
    border-bottom: 1px solid #efefef;
}
.user-avatar{
    width: 50px;
    height: 50px;
}
.avrtar-img{
    border-radius: 50%;
    width: 50px;
    height: 50px;

}
    /* user name */
.user-account-name{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15px;
    overflow: hidden;
}
.account-name{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-height: 1rem;
    font-weight: 600;
    margin-bottom: 5px;
    color: #333;
}
.user-profile-modify i, .user-profile-modify {
    font-size: 14px;
    width: 12px;
    height: 12px;
    padding-right: 18px;
}
.user-profile-modify {
    color: #888;
    text-transform: capitalize;
    text-decoration: none;
}
    /* button left controller */
.left-controller-but{
    list-style: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}
.startdust-dropdown{
    position: relative;
}
    /*stardust header */
.stardust-link{
    text-decoration: none;
    color: rgba(0,0,0,.87);
    display: flex;
    align-items: center;
    margin-bottom: 0.9375rem;
    text-transform: capitalize;
    transition: color .1s cubic-bezier(.4,0,.2,1);
    font-size: 15px;
}
.stardust-link img{
    width: 20px;
    height: 20px;
}
.stardust-link:hover{
    color: #ee4d2d;
}
    /*startdust body  */
.startdust-dropdown-item-body{
    transition: height .4s cubic-bezier(.4,0,.2,1),opacity .4s cubic-bezier(.4,0,.2,1);
    height: 0;
    opacity: 0;
    overflow: hidden;
}
.slitter{
    display: block;
    padding: 0 0 0.1875rem 2.125rem;
}
.body-down{
    text-decoration: none;
    color: rgba(0,0,0,.87);
    display: block;
    margin-bottom: 0.9375rem;
    color: rgba(0,0,0,.65);
}
.body-down:active{
    color: #ee4d2d;
}
.body-down span{
    text-transform: capitalize;
    transition: color .1s cubic-bezier(.4,0,.2,1);
    font-size: .875rem;
    display: block;
}

/* right content */
.right-content{
    position: relative;
    flex-grow: 1;
    width: 980px;
    box-sizing: border-box;
    margin-left: 1.6875rem;
    min-width: 0;
    background: #fff;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.13);
    border-radius: 0.125rem
}
.right-content section {
    display: none;
    width: 100%;
   
}
    /* profile- hồ sơ */
#profile{
    display: contents;
}
.profile-wrapper{
    padding: 0 1.875rem 0.625rem;
}
.profile-header{
    border-bottom: 0.0625rem solid #efefef;
    padding: 1.125rem 0;
}
        /* head */
.profile-header h1{
    margin: 0;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.5rem;
    text-transform: capitalize;
    color: #333;
}
.profile-header div{
    margin-top: 0.1875rem;
    font-size: .875rem;
    line-height: 1.0625rem;
    color: #555;
}
        /* detail */
.profile-infor{
    padding-top: 1.875rem;
}
.profile-infor-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
    /* profile - left content */
.profile-left-content{
    font-size: 16px;
    width: 60%;
}
.profile-infor-detail{
    width: 100%;
}
.profile-infor-detail .label{
    text-align: right;
    color: rgba(85,85,85,.8);
    overflow: hidden;
    padding-bottom: 30px;
    white-space: nowrap;
    min-width: 20%;
}
.profile-infor-detail .content-space{
    box-sizing: border-box;
    padding-left: 20px;
    padding-bottom: 30px;
}

    /* profile -right content */
.profile-right-content{
    width: 17.5rem;
    overflow: hidden;
    border-left: 0.0625rem solid #efefef;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}  
.avartar-wrapper{
    height: 210px;
    width: 100%;
    margin: 1.25rem 0;
}
.avartar-wrapper img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
.avartar-wrapper input{
    display: none;
    left: 90px;
    top: 54px;
    position: relative;
}
.profile-submit-avartar{
    outline: 0;
    background: #fff;
    color: #555;
    border: 1px solid rgb(174, 172, 172);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.03);
    border-radius: 5px;
    position: relative;
    overflow: visible;
    margin-top: 20px;
    padding: 10px 10px 10px 10px;
    min-width: 70px;
    max-width: 220px;
}
.submit-input{
    display: none;
}
.change-content-but{
    border: 0;
    outline: none;
    background: none;
    color: #05a;
    font-size: 13px;
    text-transform: capitalize;
    text-decoration: underline;
}
    /* giới tính */
    .sexual{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    /* ngày sinh */
    .birth{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .submit-button-warpper{
        box-sizing: border-box;
    padding-left: 20px;
    padding-bottom: 30px;
    }
   .content-space .change-content-but{
    color: #fff;
    position: relative;
    overflow: visible;
    outline: 0;
    background: #ee4d2d;
    padding: 10px 20px 10px 20px;
    text-align: center;
    border-radius: 5px;
    font-weight: 700;
    font-size: 15px;
   }